@charset "utf-8";

/**
 *
 *  こぐまえんニュース | こぐまえん
 *
 */

/*--------------------------------------------------------------------------
   overwrite  - 共通CSSの上書き -
---------------------------------------------------------------------------*/
#Main.category {
  color: #332a1f;
}
#Main p {
  font-size: 0.9375rem;
}
.item.u-pc {
  display: inline-block;
}
.item.u-sp {
  display: none;
}
#Content .pagettl.u-pc {
  background-image: url('../../images/news/common/bg_pagettl.jpg');
}
#Content .pagettl.u-sp {
  background: none;
}
#Content .secttl h2 img {
    margin: 0 auto;
}
/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
  #Main p {
    font-size: 1em;
    line-height: 2.2;
  }
  #Content #Main .secbox .itembox .item .item-subttl {
    font-size: 20px;
    line-height: 1.5;
    margin: 0 0 15px;
  }
  .item.u-pc {
    display: none;
  }
  .item.u-sp {
    display: block;
  }
}

/*--------------------------------------------------------------------------
   overwrite  - 共通CSSの上書き -
---------------------------------------------------------------------------*/
#Main.category {
  padding-bottom: 100px;
  background: url('../../images/news/common/bg_news.jpg') center top repeat;
}
/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
}

/*--------------------------------------------------------------------------
   #entryWrap
---------------------------------------------------------------------------*/
#entryWrap {
  padding: 40px 0;
}
#entryMain {
  margin-bottom: 30px;
}
#entrySide {
  margin-bottom: 30px;
}

/* media query -> sp
=================================================================*/
@media screen and (min-width: 769px){
  #entryWrap {
    overflow: hidden;
    *zoom: 1;
    padding: 40px 0;
  }
  #entryMain {
    float: left;
    width: 700px;
    margin-right: 50px;
  }
  #entrySide {
    float: left;
    width: 230px;
  }
}


/*--------------------------------------------------------------------------
   #entryList
---------------------------------------------------------------------------*/
#entryList {
  overflow: hidden;
  *zoom: 1;
}
#entryList li {
  float: left;
}
#entryList li .img-entry {
  margin-bottom: 20px;
}
#entryList li .img-entry img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#entryList li .cat {
  padding: 2px 10px;
  color: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #f8a055;
}
#entryList li .time {
  font-style: italic;
}
#entrySide .side-list-cont a ,
#entryList li a ,
#entryList .ttl-entry {
  color: #332a1f;
}

/* media query -> sp
=================================================================*/
@media screen and (min-width: 769px){
  #entryList li {
    width: 200px;
    margin-right: 50px;
    margin-bottom: 50px;
  }
  #entryList li:nth-of-type(3n+3) {
    margin-right: 0%;
  }
  #entryList li .time ,
  #entryList li .cat {
    font-size: 14px;
  }
  #entryList .ttl-entry {
    margin-top: 5px;
    font-size: 15px;
    /*font-weight: normal;*/
  }
}
@media screen and (max-width: 768px){
  #entryList li {
    width: 48%;
    margin-right: 4%;
    margin-bottom: 5%;
  }
  #entryList li:nth-of-type(2n+2) {
    margin-right: 0%;
  }
  #entryList li .img-entry img {
    width: 100%;
  }
}


/*--------------------------------------------------------------------------
   #pagenav
---------------------------------------------------------------------------*/
#pagenav {
  margin: 40px auto;
}
#pagenav .wp-pagenavi {
  clear: both;
  text-align: center;
}
#pagenav .wp-pagenavi a, #pagenav .wp-pagenavi span {
  color: #ffffff;
  border: solid 1px #bcad99;
  background: #bcad99;
  padding: 8px 20px;
  margin: 0 4px;
  margin-bottom: 5px;
  white-space: nowrap;
  text-align: center;
  font-weight: normal;
  text-decoration: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#pagenav .wp-pagenavi a:hover {
  background-color: #a08a6d;
  border-color: #a08a6d;
}
#pagenav .wp-pagenavi span.current {
  color: #ffffff;
  background-color: #a08a6d;
  border-color: #a08a6d;
}

/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
}


/*--------------------------------------------------------------------------
   #side-box
---------------------------------------------------------------------------*/
#entrySide .side-box {
  margin-bottom: 30px;
}
#entrySide .side-box ul.side-list-cont {
  background: #ffffff;
}
#entrySide .side-box ul.side-list-cont li {
  display: block;
  padding: 12px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#entrySide .side-category ul.side-list-cont li {
  border-bottom: solid 1px #ffd02d;
}
#entrySide .side-archives ul.side-list-cont li {
  border-bottom: solid 1px #bfdbf1;
}
#entrySide .side-newentry ul.side-list-cont li {
  border-bottom: solid 1px #d8e7a8;
}
#entrySide ul.side-list-cont li .time {
  font-style: italic;
}

/* media query -> sp
=================================================================*/
@media screen and (min-width: 769px){
  #entrySide .side-box ul.side-list-cont {
    font-size: 15px;
    font-weight: normal;
  }
}


/*--------------------------------------------------------------------------
   #entrySingle
---------------------------------------------------------------------------*/
#entrySingle {
  padding: 30px;
  background: url('../../images/news/common/bg_entry_head.png') center top no-repeat #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* head-entry */
#entrySingle .head-entry {
  overflow: hidden;
  *zoom: 1;
}
#entrySingle .head-entry .left-h {
  float: left;
}
#entrySingle .head-entry .right-h {
  float: right;
}
#entrySingle .head-entry .left-h .cat {
  margin-right: 5px;
  padding: 1px 10px;
  color: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #f8a055;
}
#entrySingle .head-entry .right-h .time {
  font-style: italic;
}

/* ttl-entry-single */
#entrySingle .ttl-entry-single {
  margin-bottom: 20px;
  padding: 20px 0;
  border-bottom: solid 1px #ffcc0a;
}

/* parts */
#entrySingle .thumbnail {
  margin-bottom: 20px;
}

/* entry-nav */
#entrySingle .entry-nav {
  position: relative;
  margin-top: 30px;
  padding-top: 30px;
  text-align: center;
  border-top: solid 1px #ffcc0a;
}
#entrySingle .entry-nav a {
  padding: 10px 20px;
  text-decoration: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #ffffff;
  background-color: #a08a6d;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#entrySingle .entry-nav a:active ,
#entrySingle .entry-nav a:hover {
  color: #ffffff;
  background: #bcad99;
}
#entrySingle .entry-nav .btn-prev {
  position: absolute;
  top:30px;
  left:0;
}
#entrySingle .entry-nav .btn-list {
  margin: auto;
}
#entrySingle .entry-nav .btn-next {
  position: absolute;
  top:30px;
  right:0;
}
#entrySingle img {
  vertical-align: bottom;
  max-width:100%;
  width: 100%;
  margin-bottom: 15px;
}
#entrySingle .wp-caption {
  max-width:100%;
}

/* media query -> sp
=================================================================*/
@media screen and (min-width: 769px){
  #entrySingle .ttl-entry-single {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px){
  #entrySingle .ttl-entry-single {
    font-size: 16px;
  }
  #entrySingle .head-entry .left-h .cat {
    padding: 3px 10px;
  }
}

