@charset "utf-8";

/**
 *
 *  トップページ
 *
 */

/*--------------------------------------------------------------------------
   overwrite  - 共通CSSの上書き -
---------------------------------------------------------------------------*/
#Content {
  margin-top: 0;
}
/*--------------------------------------------------------------------------
   .mv
---------------------------------------------------------------------------*/
#Content .mv {
  position: relative;
  overflow: hidden;
}
#Content .mv .mv-inner {
  width: 980px;
  margin: 0 auto;
  position: relative;
}
#Content .mv .mv-bg {
  margin: 0 auto;
  height: 647px;
  width: 1400px;
  position: relative;
  width: 100%;
  z-index: 0;
}
#Content .mv .mv-bg img {
  margin-left: -960px;
  height: 649px;
  max-width: 1920px;
  left: 50%;
  position: absolute;
  top: 0;
}
#Content .mv .mv-ttl {
  left: 0;
  top: 230px;
  position: absolute;
  z-index: 10;
}
#Content .mv .mv-btn {
  right: 0;
  top: 350px;
  position: absolute;
  z-index: 10;
}
/* media query -> sp
=================================================================*/
@media screen and (min-width: 1920px){
  #Content .mv .mv-bg {
    margin: 0 auto;
    height: 647px;
    width: 100%;
  }
  #Content .mv .mv-bg img {
    margin-left: 0;
    max-width: 100%;
    height: 649px;
    left: 0;
    top: 0;
    position: static;
    width: 100%;
  }
}
@media screen and (max-width: 768px){
  #Content .mv .mv-bg {
    margin-top: 53px;
    height: auto;
    width: 100%;
  }
  #Content .mv .mv-bg img {
    left: 0;
    margin: 0;
    position: relative;
    height: auto;
    width: 100%;
  }
  #Content .mv .mv-ttl {
    text-align: center;
    left: 13.52%;
    right: 13.52%;
    top: 16%;
    bottom: 60.57%;
    margin: 0;
  }
  #Content .mv .mv-btn {
    text-align: center;
    left: 50%;
    right: 3.125%;
    top: 51%;
  }
  #Content .mv .u-1400 {
    display: none;
  }
}
/*--------------------------------------------------------------------------
   .feature
---------------------------------------------------------------------------*/
#Main .feature {
  margin: -58px auto 0;
  background: url("../images/bg_feature.png") no-repeat;
  background-position: 50% 0;
  background-size: auto;
  padding-top: 441px;
  position: relative;
  z-index: 10;
}
#Main .feature .feature-ttl {
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding-top: 15px ;
  position: absolute;
  width: 17.14%;
}
#Main .feature .feature-btns {
  font-size: 0;
  text-align: center;
  top: 130px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  width: 73%;
  max-width: 1024px;
  min-width: 980px;
}
#Main .feature .feature-btns .feature-btn {
  box-sizing: border-box;
  display: inline-block;
  padding: 0 20px;
  width: 25%;
}
#Main .feature .feature-btns .feature-btn img {
  vertical-align: middle;
}

/* media query -> sp
=================================================================*/
@media screen and (min-width: 1920px){
  #Main .feature {
    margin: -58px auto 0;
    background: url("../images/bg_feature.png") repeat;
    background-position: 50% 0;
    background-size: contain;
  }
}
@media screen and (max-width: 768px){
  #Main .feature {
    margin: -10.0625vw auto 0;
    background: url("../images/sp/bg_feature.png") no-repeat;
    background-position: 50% 0;
    background-size: cover;
    padding-top: 12.578vw;
  }
  #Main .feature .feature-ttl {
    padding-top: 2.343vw ;
    width: 37.5%;
  }
  #Main .feature .u-sp {
  font-size: 0;
  margin: 9.37vw auto 0;
  position: static;
  width: 85.93%;
}
#Main .feature .feature-btns {
  max-width: initial;
  max-width: auto;
  min-width: initial;
  min-width: auto;
}
#Main .feature .u-sp .feature-btn {
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
  padding: 0 6.5625vw 7.8125vw 0;
  width: 50%;
}
#Main .feature .u-sp .feature-btn:nth-child(2n){
  text-align: right;
  padding: 0 0 7.8125vw 6.5625vw;
}
#Main .feature .u-sp .feature-btn img {
  vertical-align: middle;
}
}
/*--------------------------------------------------------------------------
   .about
---------------------------------------------------------------------------*/
#Main .about .about-inner{
  background: url(../images/bg_about.png) no-repeat;
  background-position: 50% 0;
  background-size: auto;
  text-align: center;
  margin: 0 auto;
  padding: 90px 0 0;
  width: 100%;
}
#Main .about .about-inner .about-txts {
  line-height: 2.625;
  padding: 0 0 105px;
  text-align: center;
}
#Main .about .about-inner .about-txt {
  padding-left: 10px;
}
#Main .about .about-inner .about-txts .about-ttl img {
  padding: 0 0 40px 0;
}
#Main .about .about-slider .about-baloon {
  box-sizing: border-box;
  top: -30%;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  text-align: center;

  width: 400px;
  text-align: left;
  z-index: 10;
}
#Main .about .about-slider .about-baloon img {
  transform: scale(0);
  opacity: 0;
}
#Main .about .about-slider .about-baloon#baloon00 img {
  transform: scale(1);
  opacity: 1;
}
.easeBaloon img{
  -webkit-transition: all 300ms 500ms cubic-bezier(0.175, 0.885, 0.120, 1.2);
　transition: all 300ms 500ms cubic-bezier(0.99, 0.51, 0.12, 1.2);
}
/* .slider
---------------------------------------------------------------------------*/
.about-slider {
  background-color: #fff;
  box-sizing: content-box;
  position: relative;
  margin: 0 auto;
  -moz-box-sizing: content-box;
}
.sp-slides-container {
  position: relative;
  min-width: 980px;
}
.sp-mask {
  position: relative;
  overflow: hidden;
  min-width: 980px;
}
.sp-slides {
  position: relative;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
.sp-slide {
  position: absolute;
}
.sp-image-container {
  overflow: hidden;
}
.sp-image {
  position: relative;
  display: block;
  border: none;
}
.sp-no-js {
  overflow: hidden;
  max-width: 100%;
}
/* .slider > arrows
--------------------------------------------------*/
.sp-arrows {
  position: absolute;
}
.sp-slides-container:hover {
  opacity: 1;
}
.sp-horizontal .sp-arrows {
  width: 100%;
  left: 0;
  top: 50%;
  margin-top: -26px;
}
.sp-arrow {
  background: url('../images/ico_arrow.png');
  background-size: cover;
  position: absolute;
  display: block;
  width: 56px;
  height: 56px;
  cursor: pointer;
}
.sp-horizontal .sp-previous-arrow {
  left: 20px
}
.sp-horizontal .sp-next-arrow {
  right: 20px;
}
.sp-next-arrow {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* media query -> sp
=================================================================*/
@media screen and (min-width: 1920px){
  #Main .about .about-inner{
    background: url(../images/bg_about.png) no-repeat;
    background-position: 50% 0;
    background-size: 100% 100%;
    text-align: center;
    margin: 0 auto;
    padding: 90px 0 0;
    width: 100%;
  }
}
@media screen and (max-width: 768px){
  #Main .about .u-sp {
    background: url(../images/sp/bg_about.png) repeat;
    background-position: 0 0;
    background-size: auto;
    padding: 7.5vw 0 0;
    width: 100%;
  }
  #Main .about .u-sp .about-txts {
    font-size: 1em;
    padding: 0 0 16.4vw;
    margin: auto;
    line-height: 2.2;
    width: 100%;
  }
  #Main .about .u-sp .about-txts::after {
    content:"";
    display: block;
    clear: both;
  }
  #Main .about .about-inner .about-txts .about-ttl {
    max-width: 337px;
    margin: auto;
    padding: 0 0.833vw 2.7vw 0;
    width: 52.656%;
  }
  #Main .about .about-inner .about-txts .about-ttl img {
    padding: 0;
    width: 100%;
  }
  #Main .about .u-sp .about-txt {
    text-align: left;
    padding :5px 28px;
  }
  #Main .about .u-sp .about-img {
    float: right;
    max-width: 271px;
    padding: 4.6875vw 4.6875vw 0 6.25vw;
    width: 42.343vw;
  }
  .sp-horizontal .sp-arrows {
    display: none;
  }
  #Main .about .about-slider .about-baloon {
    top: -28%;
    left: 17%;
    right: 59.25%;
    width: auto;
    max-width: 152px;
  }
  .sp-slides-container,
  .sp-mask {
    min-width: initial;
    min-width: auto;
  }
}
/*--------------------------------------------------------------------------
   .life
---------------------------------------------------------------------------*/
#Main .life {
  background: url("../images/bg_life.png") no-repeat;
  background-position: 50% 0;
  background-size: cover;
  text-align: center;
  padding: 95px 0 125px;
}
#Main .life .life-inner {
  font-size: 0;
  margin: 0 auto;
  max-width: 1024px;
}
#Main .life .life-inner .life-subttl {
  font-size: 14px;
  text-align: center;
  padding-bottom: 50px;
}
#Main .life .life-inner .life-item {
  box-sizing: border-box;
  display: inline-block;
  margin: auto;
  padding: 0 30px;
  position: relative;
  vertical-align: top;
  width: 50%;
  max-width: 510px;
}
#Main .life .life-inner .life-item a {
  background: #fff;
  border-radius: 24px;
  display: block;
}
#Main .life .life-inner .life-item a:hover {
  background: #ffdb5c;
}
#Main .life .life-inner .life-item a:active .life-item-txts {
  box-shadow: none!important;
  top: 5px;
}
#Main .life .life-inner .life-item .life-item-txts {
  border-radius: 24px;
  box-shadow: 0 5px 0 0 #ffbc21;
  display: block;
  padding: 30px 25px;
  max-width: 450px;
  margin: 0 auto;
}
#Main .life .life-inner .life-item .life-item-txt {
  box-sizing: border-box;
  font-size: 0.875rem;
  margin: 0 auto;
  text-align: left;
  width: 100%;
  max-width: 450px;
}
#Main .life .life-inner .life-item .life-item-ttl {
  top: 52%;
  left: -2.44%;
  right: 44.67%;
  position: absolute;
}
#Main .life .life-inner .life-item .life-item-ttl img {
  max-width: 100%;
}
/* media query -> sp
=================================================================*/
@media screen and (max-width: 1024px){
  #Main .life {
    min-width: 980px;
  }
  #Main .life .life-inner .life-ttl{
    margin: auto;
  }
  #Main .life .life-inner .life-item .life-item-txts {
    display: block;
  }
}
@media screen and (max-width: 768px){
  #Main .life {
    background: url("../images/sp/bg_life.png") repeat;
    background-position: 0 0;
    background-size: auto;
    padding: 5px 1px;
    min-width: initial;
    min-width: auto;
  }
  #Main .life .u-sp {
    max-width: 768px;
  }
  #Main .life .life-inner .life-ttl{
    margin: 0 auto 25px;
    width: 100%;
  }
  #Main .life .life-inner .life-subttl {
    font-size: 1rem;
    text-align: center;
    padding-bottom: 35px;
  }
  #Main .life .life-inner .life-item {
    display: block;
    margin: 0 auto 30px;
    padding: 0;
    width: 100%;
    max-width: 550px;
  }
  #Main .life .life-inner .life-item .life-item-txts {
    font-size: 1rem;
    padding: 30px;
    max-width: 550px;
    margin: 0 auto;
  }
  #Main .life .life-inner .life-item .life-item-txt {
    font-size: 0.8em;
    margin: 0 auto;
    text-align: left;
    width: 100%;
    max-width: 550px;
  }
  #Main .life .life-inner .life-item .life-item-img {
    position: relative;
  }
  #Main .life .life-inner .life-item .life-item-ttl {
    top: 84%;
    left: -2.54%;
    right: 47.3%;
    max-width: 321px;
    position: absolute;
  }
}
@media screen and (max-width: 640px){
  #Main .life .life-inner .life-ttl{
    margin: 0 auto 3.906vw;
  }
  #Main .life .life-inner .life-subttl {
    text-align: center;
    padding-bottom: 5.468vw;
  }
  #Main .life .life-inner .life-item {
    margin: 0 auto 4.687vw;
    padding: 0 20px;
  }
    #Main .life .life-inner .life-item .life-item-txts {
    padding: 20px 30px;
  }
    #Main .life .life-inner .life-item-ttl {
    top: 58%;
    bottom: 27.8%;
    left: -2.54%;
    right: 47.3%;
    max-width: 321px;
    position: absolute;
  }
}
/*--------------------------------------------------------------------------
   .consideration
---------------------------------------------------------------------------*/
#Main .consideration {
  background: #fff;
  padding: 0 20px;
}
#Main .consideration .consideration-inner {
  font-size: 0;
  margin: 0 auto;
  padding: 40px 0 90px 0;
  max-width: 1024px;

}
#Main .consideration .consideration-inner .consideration-img,
#Main .consideration .consideration-inner .consideration-txts {
  display: inline-block;
  font-size: 1rem;
  vertical-align: top;
}
#Main .consideration .consideration-inner .consideration-img {
  width: 42.5%;
}
#Main .consideration .consideration-inner .consideration-txts {
  box-sizing: border-box;
  padding: 5px 0 0 30px;
  width: 57.5%;
}
#Main .consideration .consideration-inner .consideration-txts .consideration-txt {
  line-height: 3;
  padding: 25px 0 30px;
}
#Main .consideration .consideration-inner .consideration-btn {
  background: #58a0db;
  border-radius: 50px;
  box-shadow: 0 4px 0 0 #3b82cb;
  color: #fff;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0 30px 30px;
}
#Main .consideration .consideration-inner .consideration-btn:hover {
  background: #3b82cb;
  box-shadow: 0 4px 0 0 #064096;
}
#Main .consideration .consideration-inner .consideration-btn span{
  box-sizing: border-box;
  display: block;
  font-size: 18px;
  position: relative;
  padding: 20px 95px 20px 75px;
}
#Main .consideration .consideration-inner .consideration-btn span::before {
  border-top: 3px solid #fff;
  content: "";
  height: 10px;
  width: 13px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 25px;
  margin: auto;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
#Main .consideration .consideration-inner .consideration-btn span::after {
  border-bottom: 3px solid #fff;
  content: "";
  height: 10px;
  width: 13px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 25px;
  margin: auto;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* media query -> sp
=================================================================*/
@media screen and (max-width:1024px){
  #Main .consideration .consideration-inner .consideration-txts .consideration-ttl {
    width: 41.699vw;
  }
}
@media screen and (max-width: 768px){
  #Main .consideration .consideration-inner {
    min-width: initial;
    min-width: auto;
  }
  #Main .consideration .u-sp  {
    padding: 60px 15px 105px;
  }
  #Main .consideration .u-sp .consideration-ttl {
    text-align: center;
    margin-bottom: 35px;
    width: 100%;
  }
  #Main .consideration .u-sp .consideration-img {
    float: right;
    padding: 15px 0 0;
  }
  #Main .consideration .u-sp .consideration-txt {
    font-size: 1rem;
    line-height: 2.3;
  }
  #Main .consideration .u-sp .consideration-btn {
    box-shadow: 0 4px 0 0 #3b82cb;
    display: block;
    text-align: center;
    margin: 20px auto 0;
    max-width: 458px;
  }
  #Main .consideration .consideration-inner .consideration-btn:hover {
    box-shadow: 0 4px 0 0 #064096;
  }
  #Main .consideration .u-sp .consideration-btn span{
    font-size: 14px;
    position: relative;
    padding: 18px 125px 18px 100px;
  }
  #Main .consideration .consideration-inner .consideration-btn span::before {
    border-top: 2px solid #fff;
  }
#Main .consideration .consideration-inner .consideration-btn span::after {
    border-bottom: 2px solid #fff;
  }
  #Main .consideration .u-sp .consideration-btn span::before,
  #Main .consideration .u-sp .consideration-btn span::after {
    height: 8px;
    width: 10px;
    right: 35px;
  }
}
@media screen and (max-width: 640px){
  #Main .consideration .u-sp  {
    padding: 9.375vw 2.343vw 16.404vw;
  }
  #Main .consideration .u-sp .consideration-ttl {
    margin: 0 auto 5.468vw;
    width: 80%;
  }
  #Main .consideration .u-sp .consideration-img {
    padding: 2.343vw 0 0;
  }
  #Main .consideration .u-sp .consideration-txt {
    line-height: 2.1;
  }
  #Main .consideration .u-sp .consideration-btn {
    width: 81.25%;
  }
  #Main .consideration .u-sp .consideration-btn span{
    position: relative;
    padding: 2.606vw 0;
  }
  #Main .consideration .u-sp .consideration-btn span::before,
  #Main .consideration .u-sp .consideration-btn span::after {
    right: 5.468vw;
  }
}


/*--------------------------------------------------------------------------
   .bn-blog
---------------------------------------------------------------------------*/
.bn-blog {
  margin: 30px auto;
  text-align: center;
}

/* media query -> sp
=================================================================*/
@media screen and (min-width: 769px){
  .bn-blog {
    margin-top: 10px;
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 768px){
  #Main .consideration .bn-blog.u-sp {
    margin-top: 00px;
    margin-bottom: 100px;
    padding: 0 0 0 0;
  }
}

/*--------------------------------------------------------------------------
   .top-lunch
---------------------------------------------------------------------------*/
#Main .consideration.top-lunch {
  padding-top: 30px;
  text-align: center;
}
#Main .consideration.top-lunch .consideration-txts p {
  text-align: left;
}

/* media query -> sp
=================================================================*/
@media screen and (min-width: 769px){
  #Main .consideration.top-lunch {
    padding-top: 60px;
  }
}
@media screen and (max-width: 768px){
  #Main .consideration.top-lunch .ttl-blog-list {
      margin-bottom: 0;
      padding-bottom: 0;
  }
}
