@charset "utf-8";

/**
 *
 *  こぐまえんの保育理念 | こぐまえん
 *
 */

/*--------------------------------------------------------------------------
   overwrite  - 共通CSSの上書き -
---------------------------------------------------------------------------*/
.pagettl {
  background: url(../../images/concept/common/bg_pagettl.jpg);
}

/*--------------------------------------------------------------------------
   .power
---------------------------------------------------------------------------*/
#Main .power {
  padding: 115px 0;
  background: url(../../images/concept/index/bg_power.png) top center no-repeat;
  text-align: center;
}
#Main .power .power-ttl {
  margin: 0 0 45px 0;
}
#Main .power .power-txt {
  line-height: 3;
}

/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
  #Main .power {
    padding: 40px 0;
    background: url(../../images/concept/index/sp/bg_power.png) top center no-repeat;
    background-size: cover;
  }
  #Main .power .power-ttl {
    margin: 0 0 25px 0;
  }
  #Main .power .power-ttl img {
    width: 60%;
  }
  #Main .power .power-txt {
    padding: 0 30px;
    line-height: 2.5;
  }
}


/*--------------------------------------------------------------------------
   .head
---------------------------------------------------------------------------*/
#Main .head {
  background: url(../../images/concept/index/bg_head.jpg) center top no-repeat #F6FAFD;
  padding: 0 0 160px 0;
}
#Main .head .head-box {
  width: 470px;
  margin: 0 auto;
  padding: 120px 0 0 510px;
  line-height: 3;
}
#Main .head .head-box .head-ttl {
  text-align: center;
  margin: 0 0 15px;
}

/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
  #Main .head {
    background: #F6FAFD;
    padding: 0 0 15px;
  }
  #Main .head .head-box {
    width: 100%;
    padding: 0;
    line-height: 2.5;
  }
  #Main .head .head-box .head-ttl {
    margin: 0;
  }
  #Main .head .head-box .head-ttl img {
    width: 100%;
  }
  #Main .head .head-box .head-txt {
    padding: 0 20px;
  }
}


/*--------------------------------------------------------------------------
   .body
---------------------------------------------------------------------------*/
#Main .body {
  background: url(../../images/concept/index/bg_body.png) center top no-repeat;
  margin: -120px 0 0 0;
  position: relative;
  z-index:0;
}
#Main .body:after {
  background: #FAFCF3;
  display: block;
  content: "";
  width: 100%;
  height: 400px;
  position: absolute;
  z-index: -1;
  top: 780px;
}
#Main .body .body-box {
  width: 980px;
  margin: 0 auto;
  padding: 175px 0 0 0;
  line-height: 3;
}
#Main .body .body-box .body-ttl {
  width: 470px;
  text-align: center;
  margin: 0 0 15px;
}
#Main .body .body-box p {
  padding: 0 0 160px;
}

/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
  #Main .body {
    background: #FAFCF3;
    margin: 0;
    padding: 0 0 15px;
  }
  #Main .body:after {
    display: none;
  }
  #Main .body .body-box {
    width: 100%;
    padding: 0;
    line-height: 2.5;
  }
  #Main .body .body-box .body-ttl {
    width: 100%;
    margin: 0;
  }
  #Main .body .body-box .body-ttl img {
    width: 100%;
  }
  #Main .body .body-box .body-txt {
    padding: 0 20px;
  }
  #Main .body .body-box p {
    padding: 0 0 0;
  }
}


/*--------------------------------------------------------------------------
   .heart
---------------------------------------------------------------------------*/
#Main .heart {
  background: url(../../images/concept/index/bg_heart.png) center top no-repeat;
  margin: -120px 0 0 0;
  padding: 0 0 80px 0;
  position: relative;
  z-index:0;
}
#Main .heart:after {
  background: #FFF8F7;
  display: block;
  content: "";
  width: 100%;
  height: 100px;
  position: absolute;
  z-index: -1;
  top: 800px;
}
#Main .heart .heart-box {
  width: 470px;
  margin: 0 auto;
  padding: 120px 0 0 510px;
  line-height: 3;
}
#Main .heart .heart-box .heart-ttl {
  text-align: center;
  margin: 0 0 15px;
}

/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
  #Main .heart {
    background: #FFF8F7;
    margin: 0;
    padding: 0 0 15px;
  }
  #Main .heart .heart-box {
    width: 100%;
    padding: 0;
    line-height: 2.5;
  }
  #Main .heart .heart-box .heart-ttl {
    margin: 0;
  }
  #Main .heart .heart-box .heart-ttl img {
    width: 100%;
  }
  #Main .heart .heart-box .heart-txt {
    padding: 0 20px;
  }
}


/*--------------------------------------------------------------------------
   .hospital
---------------------------------------------------------------------------*/
#Main .hospital {
  background: url(../../images/concept/index/bg_line.gif) left top repeat-x #F9F8F7;
  padding: 10px 0 0 0;
  display:table;
  position: relative;
  z-index: 100;
  width: 100%;
}
#Main .hospital .hospital-img {
  display:table-cell;
  width: 50%;
  background: url(../../images/concept/index/img_hospital.jpg) center center no-repeat;
  background-size: cover;
}
#Main .hospital .hospital-txt {
  display: table-cell;
  width: 50%;
  padding: 4.2vw 0;
  vertical-align: middle;
}
#Main .hospital .hospital-txt p {
  padding: 0 4.2vw;
  line-height: 2.5;
}
#Main .hospital .hospital-txt .hospital-catch {
  margin: 0 60px 20px;
  padding: 0 0 15px;
  border-bottom: #FFF 2px solid;
  text-align: center;
  font-size: 150%;
  font-weight: bold;
}
#Main .hospital .hospital-txt .hospital-catch span {
  background: linear-gradient(transparent 60%, #FFDB5C 0%);
  padding-bottom: 5px;
}

/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
  #Main .hospital {
    background: url(../../images/concept/index/sp/bg_line.gif) left top repeat-x #F9F8F7;
    background-size: auto 10px;
    padding: 10px 0 0 0;
  }
  #Main .hospital .hospital-img {
    display: block;
    width: 100%;
    background: none;
  }
  #Main .hospital .hospital-txt {
    display: block;
    width: 100%;
  }
  #Main .hospital .hospital-txt .hospital-catch {
    margin: 0 15px 20px;
    padding: 0 0 15px;
    border-bottom: #FFF 3px solid;
    font-size: 120%;
  }
}
