@charset "utf-8";

/**
 *
 *  こぐまえんの給食について | こぐまえん
 *
 */

/*--------------------------------------------------------------------------
   overwrite  - 共通CSSの上書き -
---------------------------------------------------------------------------*/
#Main.lunchBox {
  color: #332a1f;
}
#Main p {
  font-size: 0.9375rem;
}
.item.u-pc {
  display: inline-block;
}
.item.u-sp {
  display: none;
}
#Content .pagettl.u-pc {
  background-image: url('../../images/lunch/common/bg_pagettl.jpg');
}
#Content .pagettl.u-sp {
  background: none;
}
#Content .secttl h2 img {
    margin: 0 auto;
}
/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
  #Main p {
    font-size: 1em;
    line-height: 2.2;
  }
  #Content #Main .secbox .itembox .item .item-subttl {
    font-size: 20px;
    line-height: 1.5;
    margin: 0 0 15px;
  }
  .item.u-pc {
    display: none;
  }
  .item.u-sp {
    display: block;
  }
}

/*--------------------------------------------------------------------------
   lunchBox  - 大枠 -
---------------------------------------------------------------------------*/
#lunchBox {
  padding-bottom: 50px;
}
/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
}

/*--------------------------------------------------------------------------
   .power
---------------------------------------------------------------------------*/
#Main .power {
  padding: 115px 0 130px 0;
  background: url(../../images/lunch/index/bg_power.png) top center no-repeat;
  text-align: center;
}
#Main .power .power-ttl {
  margin: 0 0 45px 0;
}
#Main .power .power-txt {
  line-height: 3;
}
#Main .power .power-txt.mb {
  margin-bottom: 90px;
}

/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
  #Main .power {
    padding: 40px 0;
    background: url(../../images/lunch/index/sp/bg_power.png) top center no-repeat;
    background-size: cover;
  }
  #Main .power .power-ttl {
    margin: 0 0 25px 0;
  }
  #Main .power .power-ttl img {
    width: 60%;
  }
  #Main .power .power-txt {
    padding: 0 30px;
    line-height: 2.5;
  }
}

/*--------------------------------------------------------------------------
  .secttl
---------------------------------------------------------------------------*/
#Content .secttl h2 img {
    margin: 0 auto;
}
#Main .ttl-thinking {
  background: #f8a055;
}
#Main .ttl-gallery {
  background: #58a0db;
}
#Main .ttl-recipe {
  background: #44a9c2;
}

/*--------------------------------------------------------------------------
   .lunch-thinking
---------------------------------------------------------------------------*/
.lunch-thinking {
  background: url('../../images/lunch/index/bg_thinking.png') center top repeat-y;
}

/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
}

/*--------------------------------------------------------------------------
   #thinkingList
---------------------------------------------------------------------------*/
#thinkingList {
  overflow: hidden;
  *zoom: 1;
  padding: 40px 0 60px 0;
}
#thinkingList li {
  float: left;
  width: 450px;
  margin-right: 40px;
  margin-bottom: 40px;
  padding: 0 10px;
}
#thinkingList li:nth-of-type(2n+2) {
  margin-right: 0px;
}
#thinkingList li .box {
  position: relative;
  width: 450px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #ffffff;
  -webkit-box-shadow: 0px 6px 0px #ffbc21;
  -moz-box-shadow: 0px 6px 0px #ffbc21;
  box-shadow: 0px 6px 0px #ffbc21;
}
#thinkingList li .box .ttl-ss-thinking {
  position: absolute;
  top:190px;
  left:-10px;
}
#thinkingList li:nth-of-type(4) .box .ttl-ss-thinking ,
#thinkingList li:nth-of-type(3) .box .ttl-ss-thinking {
  position: absolute;
  top:213px;
  left:-10px;
}
#thinkingList li .box .ttl-ss-thinking img {
  vertical-align: bottom;
  height: 62px;
}
#thinkingList li .box .txt-thinking {
  width: 395px;
  margin:35px auto 0 auto;
}

/* media query -> sp
=================================================================*/
@media screen and (min-width: 769px){
  #thinkingList li .box .txt-thinking {
    min-height:240px;
    height: auto !important;
    height: 240px;
  }
  #thinkingList li .box .txt-thinking p {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px){
  #thinkingList.waku {
    width: 95%;
  }
  #thinkingList li {
    float: none;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 25px;
    padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  }
  #thinkingList li:nth-of-type(2n+2) {
    margin-right: 0px;
  }
  #thinkingList li .box {
    position: relative;
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #ffffff;
    -webkit-box-shadow: 0px 6px 0px #ffbc21;
    -moz-box-shadow: 0px 6px 0px #ffbc21;
    box-shadow: 0px 6px 0px #ffbc21;
  }
  #thinkingList li .box .ttl-ss-thinking {
    position: absolute;
    top:40vw;
    left:-10px;
  }
  #thinkingList li:nth-of-type(4) .box .ttl-ss-thinking ,
  #thinkingList li:nth-of-type(3) .box .ttl-ss-thinking {
    position: absolute;
    top:43.5vw;
    left:-10px;
  }
  #thinkingList li .box .ttl-ss-thinking img {
    vertical-align: bottom;
    width: 50vw;
    height: auto;
  }
  #thinkingList li:nth-of-type(4) .box .ttl-ss-thinking img ,
  #thinkingList li:nth-of-type(3) .box .ttl-ss-thinking img {
    vertical-align: bottom;
    width: 62vw;
    height: auto;
  }
  #thinkingList li .box .img-thinking img {
    vertical-align: bottom;
    width: 100%;
    height: auto;
  }
  #thinkingList li .box .txt-thinking {
    width: 90%;
    margin:35px auto 0 auto;
    padding-bottom: 25px;
  }
}

/*--------------------------------------------------------------------------
   .lunch-make
---------------------------------------------------------------------------*/
.lunch-make {
  background: url('../../images/lunch/index/bg_make.png') center top repeat-x #fffaf6;
}

/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
  .lunch-make {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}

/*--------------------------------------------------------------------------
   #makeBox
---------------------------------------------------------------------------*/
#makeBox .ttl-make {
  margin-bottom: 25px;
}
#makeBox .txt-make.top {
  margin-bottom: 45px;
}
#makeBox .img-make {
  margin-top: 60px;
  margin-bottom: 40px;
}

/* media query -> sp
=================================================================*/
@media screen and (min-width: 769px){
  #makeBox {
    padding: 90px 0 160px 0;
    position: relative;
  }
  #makeBox .txt-make {
    font-size: 16px;
    line-height: 2.8;
  }
  #makeBox .txt-make.btm {
    width: 550px;
  }
  #makeBox .img-make-btm {
    position: absolute;
    top:730px;
    right:-140px;
  }
}
@media screen and (max-width: 768px){
  #makeBox .img-make-btm {
    margin-top: 35px;
    margin-bottom: 30px;
  }
}


/*--------------------------------------------------------------------------
   #nakayoshi
---------------------------------------------------------------------------*/
#nakayoshi {
  background: #fee9d9;
}
#nakayoshi .ttl-nakayoshi {
  margin-bottom: 30px;
}
#nakayoshi .melit-box {
  overflow: hidden;
  *zoom: 1;
}
#nakayoshi .melit-box .ko-midashi {
  margin-bottom: 10px;
}
#nakayoshi .melit-box .txt-nakayoshi {
  padding: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #f7d7b0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* media query -> sp
=================================================================*/
@media screen and (min-width: 769px){
  #nakayoshi {
    padding: 60px 0 40px 0;
  }
  #nakayoshi .txt-nakayoshi {
    font-size: 16px;
    line-height: 2.8;
  }
  #nakayoshi .melit-cont ,
  #nakayoshi .about-cont ,
  #nakayoshi .top-cont {
    overflow: hidden;
    *zoom: 1;
    margin-bottom: 60px;
  }
  #nakayoshi .top-cont .left-cont {
    float: left;
    width: 440px;
    margin-right: 50px;
  }
  #nakayoshi .top-cont .right-cont {
    float: right;
    width: 490px;
  }
  #nakayoshi .about-cont {
    /*text-align: center;*/
  }
  #nakayoshi .melit-box .content {
    width: 100%;
    /*float: left;*/
  }
  #nakayoshi .melit-box .content:nth-of-type(2n+1) {
    /*margin-right: 2%;*/
  }
  #nakayoshi .melit-box .txt-nakayoshi {
/*    min-height:570px;
    height: auto !important;
    height: 570px;*/
  }
  #nakayoshi .melit-box .txt-nakayoshi p {
    font-size: 14px;
    line-height: 2.5;
  }
}
@media screen and (max-width: 768px){
  #nakayoshi {
    padding: 40px 0 20px 0;
  }
  #nakayoshi .ttl-nakayoshi {
    margin-bottom: 10px;
  }
  #nakayoshi .melit-cont ,
  #nakayoshi .about-cont ,
  #nakayoshi .top-cont {
    margin-bottom: 35px;
  }
  #nakayoshi .top-cont .right-cont {
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
  }
  #nakayoshi .melit-box .content {
    margin-bottom: 20px;
  }
}

/*--------------------------------------------------------------------------
   .lunch-gallery
---------------------------------------------------------------------------*/
.lunch-gallery {
  background: url('../../images/lunch/index/bg_gallery.png') center top repeat-y #eef5fb;
}

/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
}

/*--------------------------------------------------------------------------
   #galleryList
---------------------------------------------------------------------------*/
.recipe_txt {
  margin-top: 40px;
  margin-bottom: 0px;
}
#galleryList {
  overflow: hidden;
  *zoom: 1;
  padding: 45px 0;
}
#galleryList li .box {
  padding: 13px 10px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 5px #cfcfcf;
  -moz-box-shadow: 0px 0px 5px #cfcfcf;
  box-shadow: 0px 0px 5px #cfcfcf;
  background: #ffffff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#galleryList li .ttl-g {
  margin-top: 5px;
}

/* media query -> sp
=================================================================*/
@media screen and (min-width: 768px){
  #galleryList li {
    float: left;
    width: 232px;
    margin-right: 17px;
    margin-bottom: 20px;
  }
  #galleryList li:nth-of-type(4n+4) {
    margin-right: 0;
  }
}
@media screen and (max-width: 768px){
  #galleryList li {
    float: left;
    width: 48%;
    margin-bottom: 5%;
  }
  #galleryList li:nth-of-type(2n+1) {
    margin-right: 4%;
  }
  #galleryList li img {
    width: 100%;
  }
}

/*--------------------------------------------------------------------------
   .lunch-recipe
---------------------------------------------------------------------------*/
.lunch-recipe {
  background: #ffffff;
}
.lunch-recipe #galleryList li .box {
/*  -webkit-box-shadow: 0px 0px 0px #ffffff;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;*/
}

/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
}

/*--------------------------------------------------------------------------
   #entryList
---------------------------------------------------------------------------*/
#entryList {
  overflow: hidden;
  *zoom: 1;
  padding: 40px 0;
}
#entryList li {
  float: left;
}
#entryList li .img-entry {
  margin-bottom: 20px;
}
#entryList li .img-entry img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#entryList li a ,
#entryList .ttl-entry {
  color: #332a1f;
}

/* media query -> sp
=================================================================*/
@media screen and (min-width: 769px){
  #entryList {
    padding-top: 70px;
  }
  #entryList li {
    width: 22%;
    margin-right: 4%;
    margin-bottom: 5%;
  }
  #entryList li:nth-of-type(4n+4) {
    margin-right: 0%;
  }
  #entryList .ttl-entry {
    font-size: 15px;
    /*font-weight: normal;*/
  }
}
@media screen and (max-width: 768px){
  #entryList li {
    width: 48%;
    margin-right: 4%;
    margin-bottom: 5%;
  }
  #entryList li:nth-of-type(2n+2) {
    margin-right: 0%;
  }
  #entryList li .img-entry img {
    width: 100%;
  }
}

/*--------------------------------------------------------------------------
   .lunch-oyatsu
---------------------------------------------------------------------------*/
.lunch-oyatsu {
  padding: 70px 0;
  background: url('../../images/lunch/index/bg_oyatsu.png') center top repeat-y #ffffff;
}

/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
}

/*--------------------------------------------------------------------------
   .oyatsu-box
---------------------------------------------------------------------------*/
.oyatsu-box {
  overflow: hidden;
  *zoom: 1;
}
.oyatsu-box .ttl-oyatsu {
  margin-bottom: 20px;
}

/* media query -> sp
=================================================================*/
@media screen and (min-width: 769px){
  .oyatsu-box .left-oyatsu {
    float: left;
    width: 449px;
  }
  .oyatsu-box .right-oyatsu {
    float: right;
    width: 511px;
  }
  .oyatsu-box .txt-oyatsu {
    font-size: 16px;
    line-height: 2.8;
  }
}
@media screen and (max-width: 768px){
  .oyatsu-box .txt-oyatsu {
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------------------
   .oyatsu-gallery
---------------------------------------------------------------------------*/
.oyatsu-gallery {
  padding: 80px 0;
  background: url('../../images/lunch/index/bg_oyatsu_gallery.png') center top repeat-y #eef5fb;
}
.oyatsu-gallery .ttl-oyatsu-gallery {
  text-align: center;
  margin-bottom: 0px;
}

/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
  .oyatsu-gallery {
    padding: 20px 0;
  }
  .oyatsu-gallery #galleryList {
      padding: 25px 0;
  }
}
