@charset "utf-8";

/**
 *
 *  コンテンツ共通
 *
 */

/*--------------------------------------------------------------------------
   general style
---------------------------------------------------------------------------*/

/* ico
-----------------------------------------------------------------*/
.externalIcon{
	margin:0 5px;
	vertical-align:middle;
}


/*--------------------------------------------------------------------------
   template
---------------------------------------------------------------------------*/

/* text
-----------------------------------------------------------------*/
.tar {text-align: right;}
.tac {text-align: center;}

/* frame
-----------------------------------------------------------------*/
#Main {
	margin:0 auto;
}
@media(max-width: 768px){
  #Content #Main .secbox {
    font-size: 1em;
    padding: 25px 20px 0;
  }
}
/* pagettl
-----------------------------------------------------------------*/
#Content .pagettl {
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: auto;
  height: 140px;
  position: relative;
}
#Content .pagettl h1 {
  display: table;
  margin: -15px 0 0 -490px;
  top: 50%;
  left: 50%;
  position: absolute;
  width: 980px;
}
#Content .pagettl h1 img {
  display: table-cell;
  vertical-align: middle;
}
/* media query
=================================================================*/
@media(min-width: 1920px){
  #Content .pagettl {
    background-size: cover;
  }
}
@media(max-width: 1065px){
  #Content .pagettl h1 {
  }
  #Content .pagettl h1 img {
    padding-left: 30px;
  }
}
@media(max-width: 768px){
  #Content .pagettl {
    background: none;
    height: initial;
    height: auto;
    position: static;
  }
  #Content .pagettl h1 {
    position: static;
    margin: 0;
    width: auto;
  }
  #Content .pagettl h1 img {
    display: block;
    padding: 0;
  }
}
/* secttl
-----------------------------------------------------------------*/
#Content .secttl {
  background-color: #ccc; /* Temporary color */
  color: #fff;
  font-weight: bold;
  line-height: 2;
  text-align: center;
  padding: 45px 0 40px;
}
#Content .secttl .secttl-txt {
  font-size: 20px;
  margin-top: 25px;
}
#Content .secttl h2:last-child {
  margin-bottom: 5px;
}
/* media query -> sp
=================================================================*/
@media(max-width: 768px){
  #Content .secttl {
    background-color: #ccc; /* Temporary color */
    line-height: 2;
    padding: 30px 20px 20px;
  }
  #Content .secttl h2{
    margin: auto;
  }
  #Content .secttl h2 img{
	height: 21px;
	width: auto;
  }
  #Content .secttl .secttl-txt {
    font-size: 16px;
    margin-top: 15px;
  }
}
/* secbox
-----------------------------------------------------------------*/
#Main .secbox {
  background-color: #eee;
  background-position: 50% 0;
  background-size: auto;
  background-repeat: no-repeat;
}

/* media query
=================================================================*/
@media(min-width: 1920px){
  #Main .secbox {
    background-size: cover;
  }
}
@media(max-width: 768px){
  #Main .secbox {
  }
}
/* item
-----------------------------------------------------------------*/
.itembox {
  margin: 0 auto;
}
.item {
  display: inline-block;
  vertical-align: top;
}
/* .target
-----------------------------------------------------------------*/
.target {
  padding-top: 115px;
  margin-top: -115px;
  width: 0;
}
@media(max-width: 768px){
  .target {
    padding-top: 52px;
    margin-top: -52px;
  }
}
/*--------------------------------------------------------------------------
   common parts
---------------------------------------------------------------------------*/

/* page-ttl
-----------------------------------------------------------------*/



/*--------------------------------------------------------------------------
   btn
---------------------------------------------------------------------------*/
a.btn-shadow {
  position: relative;
}
a.btn-shadow:active {
  box-shadow: none!important;
  top: 4px;
}

/*--------------------------------------------------------------------------
   .footer-nav
---------------------------------------------------------------------------*/
#Main .footer-nav {
  background: url(../../shared/images/bg_footer_navi.gif) left top repeat;
  overflow: hidden;
  padding: 75px 0;
}
#Main .footer-nav ul {
  display:table;
  width: 980px;
  margin: 0 auto;
}
#Main .footer-nav li {
  display:table-cell;
  padding: 0 40px 0 0;
}
#Main .footer-nav li:last-child {
  padding: 0;
}
#Main .footer-nav li a {
  display: block;
  width: 100%;
}

/* orange
-----------------------------------------------------------------*/
#Main .footer-nav .orange-btn {
  background: #F8A056;
  border-radius: 10px;
  box-shadow: 0 4px 0 0 #F1641D;
  color: #fff;
  display: inline-block;
}
#Main .footer-nav .orange-btn:hover {
  background: #F48239;
  box-shadow: 0 4px 0 0 #EA4510;
}

/* blue
-----------------------------------------------------------------*/
#Main .footer-nav .blue-btn {
  background: #58A0DB;
  border-radius: 10px;
  box-shadow: 0 4px 0 0 #1F64BC;
  color: #fff;
  display: inline-block;
}
#Main .footer-nav .blue-btn:hover {
  background: #3C82CB;
  box-shadow: 0 4px 0 0 #1145A2;
}

/* red
-----------------------------------------------------------------*/
#Main .footer-nav .red-btn {
  background: #FA6E59;
  border-radius: 10px;
  box-shadow: 0 4px 0 0 #F52F1F;
  color: #fff;
  display: inline-block;
}
#Main .footer-nav .red-btn:hover {
  background: #F74E3C;
  box-shadow: 0 4px 0 0 #F01C11;
}

/* green
-----------------------------------------------------------------*/
#Main .footer-nav .green-btn {
  background: #98C01A;
  border-radius: 10px;
  box-shadow: 0 4px 0 0 #5B9103;
  color: #fff;
  display: inline-block;
}
#Main .footer-nav .green-btn:hover {
  background: #79A80E;
  box-shadow: 0 4px 0 0 #3D7101;
}

/* yellow
-----------------------------------------------------------------*/
#Main .footer-nav .yellow-btn {
  background: #F5D253;
  border-radius: 10px;
  box-shadow: 0 4px 0 0 #EBAD1B;
  color: #fff;
  display: inline-block;
}
#Main .footer-nav .yellow-btn:hover {
  background: #F0BF37;
  box-shadow: 0 4px 0 0 #E2910F;
}

/* brown
-----------------------------------------------------------------*/
#Main .footer-nav .brown-btn {
  background: #A08A6D;
  border-radius: 10px;
  box-shadow: 0 4px 0 0 #644B2F;
  color: #fff;
  display: inline-block;
}
#Main .footer-nav .brown-btn:hover {
  background: #826A4E;
  box-shadow: 0 4px 0 0 #45301C;
}

/* arrow
-----------------------------------------------------------------*/
#Main .footer-nav span {
  box-sizing: border-box;
  display: block;
  position: relative;
  padding: 20px 0 16px 10px;
}
#Main .footer-nav span::before {
  border-top: 3px solid #fff;
  content: "";
  height: 10px;
  width: 13px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 12px;
  margin: auto;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
#Main .footer-nav span::after {
  border-bottom: 3px solid #fff;
  content: "";
  height: 10px;
  width: 13px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 12px;
  margin: auto;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
  #Main .footer-nav {
    background: url(../../shared/images/sp/bg_footer_navi.gif) left top repeat;
    background-size: 80px 80px;
    padding: 25px 35px 50px;
  }
  #Main .footer-nav ul {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
  #Main .footer-nav li {
    display: block;
    margin: 0 0 15px;
    padding: 0;
  }
  #Main .footer-nav span {
    padding: 12px 0 12px 15px;
  }
  #Main .footer-nav span img {
    /*width: 60.15625%;*/
	height: 32px;
  }
}


/*--------------------------------------------------------------------------
   waku  - 枠 -
---------------------------------------------------------------------------*/
.waku {
  width: 980px;
  margin: auto;
}
/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
  .waku {
    width: 90%;
    margin: auto;
  }
}

/*--------------------------------------------------------------------------
   pankuzu  - パンくず -
---------------------------------------------------------------------------*/
#pankuzu {
  padding: 7px 0;
  background: #e1e8f1;
  color: #332a1f;
  font-size: 14px;
}
#pankuzu li {
  display: inline-block;
  margin-right: 5px;
}
#pankuzu li:before {
  content:" > ";
  color: #9ba0a6;
}
#pankuzu li:first-of-type:before {
  content:"";
}
#pankuzu li img {
  vertical-align: middle;
}
/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
  #pankuzu .waku ul {
    overflow-x: auto;
    overflow-y: hidden;
    width: 95%;
    margin: auto;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateZ(0px);
  }
  #pankuzu .waku li {
    display: inline-block;
  }
}


/*--------------------------------------------------------------------------
   .list-blog
---------------------------------------------------------------------------*/
.list-blog {
  background: url('../../images/news/common/bg_news.jpg') center top repeat;
}
.list-blog .ttl-blog-list {
  text-align: center;
}
.list-blog .consideration-btn {
  background: #f8a055;
  border-radius: 50px;
  box-shadow: 0 4px 0 0 #db7b2c;
  color: #fff;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0 30px 30px;
}
.list-blog .consideration-btn:hover {
  background: #f3923f;
  box-shadow: 0 4px 0 0 #db7b2c;
}
.list-blog .consideration-btn span{
  box-sizing: border-box;
  display: block;
  font-size: 18px;
  position: relative;
}
.list-blog .consideration-btn span::before {
  border-top: 3px solid #fff;
  content: "";
  height: 10px;
  width: 13px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 25px;
  margin: auto;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.list-blog .consideration-btn span::after {
  border-bottom: 3px solid #fff;
  content: "";
  height: 10px;
  width: 13px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 25px;
  margin: auto;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* media query -> sp
=================================================================*/
@media screen and (min-width: 769px){
  .list-blog {
    padding: 60px 0;
  }
  .list-blog #entryList {
    margin-top: 50px;
  }
  .list-blog .btn-box {
    width: 480px;
    margin: auto;
  }
  .list-blog .consideration-btn span{
    padding: 20px 60px 20px 40px;
  }
}
@media screen and (max-width: 768px){
  .list-blog {
    padding: 60px 0 0 0;
  }
  .list-blog #entryList {
    margin-top: 20px;
  }
  .list-blog .btn-box {
    width: 100%;
    margin: auto;
  }
  .list-blog .consideration-btn{
    display: block;
    text-align: center;
  }
  .list-blog .consideration-btn span{
    font-size: 12px;
    position: relative;
    padding: 2.606vw 2vw 2.606vw 0vw;
  }
}

/*--------------------------------------------------------------------------
   #entryList
---------------------------------------------------------------------------*/
#entryList {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: ﬂex-start;
  -moz-align-items: ﬂex-start;
  -ms-align-items: ﬂex-start;
  align-items: ﬂex-start;

}

#entryList li .img-entry {
  margin-bottom: 20px;
}
#entryList li .img-entry img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#entryList li .cat {
  margin-right: 5px;
  margin-bottom: 3px;
  display: inline-block;
  padding: 0 10px;
  color: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #f8a055;
}
#entryList li .time {
  font-style: italic;
}
#entrySide .side-list-cont a ,
#entryList li a ,
#entryList .ttl-entry {
  color: #332a1f;
}
#entryList .ttl-entry {
  line-height: 1.6;
}

/* media query -> sp
=================================================================*/
@media screen and (min-width: 769px){
  #entryList li {
    width: 200px;
    margin-right: 50px;
    margin-bottom: 50px;
  }
  #entryList li:nth-of-type(3n+3) {
    margin-right: 0%;
  }
  #entryList li .time ,
  #entryList li .cat {
    font-size: 13px;
  }
  #entryList .ttl-entry {
    margin-top: 5px;
    font-size: 15px;
    /*font-weight: normal;*/
  }
}
@media screen and (max-width: 768px){
  #entryList li {
    width: 48%;
    margin-right: 4%;
    margin-bottom: 5%;
  }
  #entryList li:nth-of-type(2n+2) {
    margin-right: 0%;
  }
  #entryList li .img-entry img {
    width: 100%;
  }
}

