@charset "utf-8";

/**
 *
 *  サイト共通
 *
 */

/*--------------------------------------------------------------------------
   reset
---------------------------------------------------------------------------*/

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,ins,kbd,q,samp,small,strong,
sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,
figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body{line-height:1;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
nav ul{list-style:none;}
ul,ol,li,dl,dt,dd{list-style-type:none;list-style-position:outside;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:none;}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}
ins{background-color:#ff9;color:#000;text-decoration:none;}
img{vertical-align:top;border:0;}
em{font-style:italic;}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}
del{text-decoration:line-through;}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:0;padding:0;}
input,select{vertical-align:middle;}


/*--------------------------------------------------------------------------
   html
---------------------------------------------------------------------------*/

html{
	overflow-y:scroll;
}
/*--------------------------------------------------------------------------
   body
---------------------------------------------------------------------------*/

body {
	color:#332A1F;
	font-family: 'ヒラギノ角ゴ ProN W3',"Hiragino Kaku Gothic ProN","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ","Meiryo","ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;  
	font-size:16px;
	font-size:100%\9;
	line-height:1.9;
	-webkit-text-size-adjust:100%;
	position: relative;
}
/* media query -> sp
=================================================================*/
@media(max-width: 768px){
	body {
		font-size: 13px;
		line-height: 2.2;
	}
}

/*--------------------------------------------------------------------------
   Fluid Image
---------------------------------------------------------------------------*/
img{
    max-width: 100%;
    height: auto;
}

/*--------------------------------------------------------------------------
   base link
---------------------------------------------------------------------------*/

a{
	color: #000;
	outline:none;
	text-decoration: none;
}
a:link,
a:visited{
	outline:none;
	text-decoration: none;
}
a:hover{
	text-decoration:none;
}

/*--------------------------------------------------------------------------
   Container
---------------------------------------------------------------------------*/
#Page{
	width: 100%;
}
/*--------------------------------------------------------------------------
   Content
---------------------------------------------------------------------------*/
#Content { 
  margin-top: 115px;
  min-width: 980px;
}
/* media query -> sp
=================================================================*/
@media(max-width: 768px){
	#Content {
		margin-top: 50px;
		min-width: initial;
		min-width: auto;
	}
}
/*--------------------------------------------------------------------------
   GlobalHeader
---------------------------------------------------------------------------*/
#GlobalHeader {
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 999;
}
#GlobalHeader .wrap-gnavi {
	border-bottom: 3px solid #f8a055;
	box-shadow: 0 3px 15px -6px #000;
	min-width: 980px;
}
#GlobalHeader .wrap-gnavi .inner {
	background-color: #faf7f2;
}
#GlobalHeader .wrap-gnavi .inner .gnavi,
#GlobalHeader .wrap-gnavi-smallClass .gnavi-smallClass ul {
	margin:0 auto;
	width:980px;
}
#GlobalHeader .wrap-gnavi .inner .gnavi ul {
	display: table;
	margin:0 auto;
}
#GlobalHeader .wrap-gnavi .inner .gnavi li{
	vertical-align: bottom;
	display: table-cell;
	background-color: #faf7f2;
}
#GlobalHeader .wrap-gnavi .inner .gnavi li img {
	max-width: 100%;
}
#GlobalHeader .wrap-gnavi-smallClass .gnavi-smallClass {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  -ms-filter: "alpha(opacity=0)";
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  transition: all .5s;
  min-width: 980px;
  width: 100%;
}
#GlobalHeader .wrap-gnavi-smallClass .is-active {
	opacity: 1;
  -ms-filter: "alpha(opacity=100)";
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  z-index: -1;
}
#GlobalHeader .wrap-gnavi-smallClass .gnavi-smallClass ul {
	font-size: 0;
}
#GlobalHeader .wrap-gnavi-smallClass .gnavi-smallClass li {
	box-sizing: border-box;
	display: inline-block;
	font-size: 1.0625rem;
	font-weight: bold;
	text-align: center;
	vertical-align: top;
	width: 25%;
}
#GlobalHeader .wrap-gnavi-smallClass .gnavi-smallClass li:first-child a {
}
#GlobalHeader .wrap-gnavi-smallClass .gnavi-smallClass li:last-child a {
	padding-right: 0;
}
#GlobalHeader .wrap-gnavi-smallClass .gnavi-smallClass li img {
	display: block;
  margin: 0 auto 15px;
}
#GlobalHeader .wrap-gnavi-smallClass .gnavi-smallClass li a {
  display: block;
  padding: 35px 0 25px ;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}
#GlobalHeader .wrap-gnavi-smallClass .gnavi-smallClass li a:hover {
  color: #f8a055;
}
/* media query ->sp
=================================================================*/
@media(max-width: 768px){
	#GlobalHeader {
		background-color: #fcf9f4;
	}
	#GlobalHeader .wrap-gnavi {
		border-bottom: 2px solid #f8a055;
		box-shadow: 0 3px 10px -6px #000;
	}
	#GlobalHeader .wrap-gnavi {
		min-width: initial;
		min-width: auto;
	}
	#GlobalHeader .wrap-gnavi .u-sp{
		text-align: center;
		max-width:100%;
		position: relative;
		width: 100%;
	}
	#GlobalHeader .wrap-gnavi .u-sp .header-logo img{
		height: 50px;
		width: auto;
	}
	#GlobalHeader .wrap-gnavi .u-sp .sp-toggle {
		cursor: pointer;
		text-align: center;
		top: 0;
		right: 0;
		margin: 0 10px;
		position: absolute;
		width: 40px;
	}
	#GlobalHeader .wrap-gnavi .u-sp .sp-toggle a {
		display: block;
		padding-top: 1px;
	}
	#GlobalHeader .wrap-gnavi .u-sp .sp-toggle i{
		background: #342a20;
		content: "";
		display: block;
		margin: 15px auto 8px;
		position: relative;
		transition: all .2s ease;
		height: 3px;
		width: 18px;
	}
	
	#GlobalHeader .wrap-gnavi .u-sp .sp-toggle i::before,
	#GlobalHeader .wrap-gnavi .u-sp .sp-toggle i::after {
		background: #342a20;
		content: "";
		display: block;
		margin: 0 auto;
		position: absolute;
		-webkit-transition: .2s all;
		transition: .2s all;
		height: 3px;
		width: 18px;
	}
	#GlobalHeader .wrap-gnavi .u-sp .sp-toggle i::before {
		margin-top: -6px;
	}
	#GlobalHeader .wrap-gnavi .u-sp .sp-toggle i::after {
		margin-top: 6px;
	}
	#GlobalHeader .wrap-gnavi .u-sp .sp-toggle p{
		color: #342a20;
		display: block;
		font-size: 10px;
		font-family:"ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
	}
	#GlobalHeader .wrap-gnavi .u-sp .sp-toggle.is-active i{
		-webkit-transition: .2s all ease;
		transition: .2s all ease;
		background: transparent;
	}
	#GlobalHeader .wrap-gnavi .u-sp .sp-toggle.is-active i::before {
		margin-top: 0;
		-webkit-transform: rotate(765deg);
		transform: rotate(765deg);
		-webkit-transition: .2s all;
		transition: .2s all;
		width: 20px;
	}
	#GlobalHeader .wrap-gnavi .u-sp .sp-toggle.is-active i::after {
		margin-top: 0;
		-webkit-transform: rotate(495deg);
		transform: rotate(495deg);
		-webkit-transition: .2s all;
		transition: .2s all;
		width: 20px;
	}
	#GlobalHeader .wrap-gnavi .u-sp .sp-toggle p.navi-close {
		display: block;
	}
	#GlobalHeader .wrap-gnavi .u-sp .sp-toggle.is-active p.navi-open {
		display: none;
	}
	#GlobalHeader .wrap-gnavi .u-sp .sp-toggle.is-active p.navi-close {
		display: block;
	}
	#GlobalHeader .wrap-gnavi .u-sp .sp-toggle.is-active p::before{
		display: block;
		content: "CLOSE";
		color: #342a20;
    font-size: 10px;
    margin-right: 10px;
    height: 22px;
    width: 40px;
	}
	#GlobalHeader .wrap-gnavi .u-sp .gnavi-sp {
		display: none;
		-webkit-transition: .2s all ease;
		transition: .2s all ease;
	}
	#GlobalHeader .wrap-gnavi .u-sp .gnavi-sp.is-active {
  	background: #fcf9f4;
  	border-bottom: 2px solid #fff;
  	display: block;
  	position: absolute;
  	-webkit-transition: .2s all ease;
		transition: .2s all ease;
		height: 100%;
		width: 100%;
		z-index: 10;
	}
	#GlobalHeader .wrap-gnavi .u-sp .gnavi-sp.is-active li {
		background: #fcf9f4;
		border-top: 2px solid #fff;
		text-align: center;
	}
	#GlobalHeader .wrap-gnavi .u-sp .gnavi-sp.is-active li:last-child {
		border-bottom: 2px solid #fff;
	}
	#GlobalHeader .wrap-gnavi .u-sp .gnavi-sp.is-active li a ,
	#GlobalHeader .wrap-gnavi .u-sp .gnavi-sp.is-active li p {
		cursor: pointer;
		display: block;
		font-size: 1.2em;
		font-weight: bold;
		position: relative;
		padding: 10px;
	}
	#GlobalHeader .wrap-gnavi .u-sp .gnavi-sp.is-active .toggle-caregory span::before,
	#GlobalHeader .wrap-gnavi .u-sp .gnavi-sp.is-active .toggle-caregory span::after {
		background: #332a1f;
		content: "";
		height: 3px;
		width: 12px;
		top: 0;
		bottom: 0;
		margin: auto;
		position: absolute;
		-webkit-transition: .1s all;
		transition: .1s all;
	}
	#GlobalHeader .wrap-gnavi .u-sp .gnavi-sp.is-active .toggle-caregory span::before {
		right: 20px;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	#GlobalHeader .wrap-gnavi .u-sp .gnavi-sp.is-active .toggle-caregory span::after {
		right: 27px;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	#GlobalHeader .wrap-gnavi .u-sp .gnavi-sp.is-active .toggle-caregory.is-active span::before {
		right: 20px;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	#GlobalHeader .wrap-gnavi .u-sp .gnavi-sp.is-active .toggle-caregory.is-active span::after {
		right: 27px;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	#GlobalHeader .wrap-gnavi .u-sp .gnavi-sp.is-active .category-small {
		border-top: 0;
		border-bottom: 2px solid #f9f3e8;
		display: none;
	}
	#GlobalHeader .wrap-gnavi .u-sp .gnavi-sp.is-active .category-small {
		
	}
	#GlobalHeader .wrap-gnavi .u-sp .gnavi-sp.is-active .category-small.is-active + li {
		border-top: 0;
	}
	#GlobalHeader .wrap-gnavi .u-sp .gnavi-sp.is-active .category-small li{
		background: #fefdfb;
		border-top: 2px solid #f9f3e8;
		font-size: normal;
	}
	#GlobalHeader .wrap-gnavi .u-sp .overlay {
		background-color: #fcf9f4;
		display: none;
    left: 0;
    top: 0;
    opacity: 0.9;
    position: fixed;
    height: 100%;
    width: 100%;
		z-index: -10;
  }
 	#GlobalHeader .wrap-gnavi .u-sp .overlay.is-active {
 		display: block;
 	}
}
/*--------------------------------------------------------------------------
   GlobalFooter
---------------------------------------------------------------------------*/
#GlobalFooter {
	background-color: #ffbc21;
	position: relative;
	min-width: 980px;
}
#GlobalFooter::before{
	background: url('../images/bg_footer.png') repeat;
	background-position: 50% 0;
	content: "";
	width: 100%;
	height: 58px;
	top: -58px;
	position: absolute;
}
#GlobalFooter .inner{
	position:relative;
	margin:0 auto;
	padding: 2px 0 0;
	max-width: 980px;
}
#GlobalFooter .inner .footer-items-top {
	border-bottom: 2px solid #ffd02d;
	font-size: 0;
	margin-top: 50px;
	padding:0 0 45px;
}
#GlobalFooter .inner .footer-item-top {
	display: inline-block;
	vertical-align: middle;
}
#GlobalFooter .inner .u-pc .item-logo {
	padding: 0;
	float: left;
	margin-right: 20px;
}
#GlobalFooter .inner .u-pc .item-contact {
	float: left;
	margin: 16px auto 0;
}
#GlobalFooter .inner .u-pc .item-btn {
	float: right;
	margin: 9px 0 0;
}
#GlobalFooter .inner .footer-item-top .btn-contact {
	background-color: #fff;
	border-radius: 50px;
	box-shadow: 0 4px 0px 0px #f8a055;
	display: block;
	color: #332a1f;
	font-size: 17px;
	font-weight: bold;
	text-decoration: none;
	position: relative;
} 
#GlobalFooter .inner .footer-item-top .btn-contact:hover {
	background: #a08a6d;
	box-shadow: 0 4px 0px 0px #594b2a;
	color: #fff;
}
#GlobalFooter .inner .footer-item-top .btn-contact span {
	display: inline-block;
	padding: 20px 50px 20px 30px;
}
#GlobalFooter .inner .footer-item-top .btn-contact span::before {
	border-top: 2px solid #332a1f;
	content: "";
	height: 10px;
	width: 12px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 25px;
	margin: auto;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
#GlobalFooter .inner .footer-item-top .btn-contact span::after {
	border-bottom: 2px solid #332a1f;
	content: "";
	height: 10px;
	width: 12px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 25px;
	margin: auto;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#GlobalFooter .inner .footer-item-top .btn-contact span:hover::before {
	border-top: 2px solid #fff;
}
#GlobalFooter .inner .footer-item-top .btn-contact span:hover::after {
	border-bottom: 2px solid #fff;
}
#GlobalFooter .inner .footer-item-top:nth-child(2){
	padding: 0 0 0 0;
}
#GlobalFooter ul li a:link,
#GlobalFooter ul li a:visited{
	color:#594b2a;
	text-decoration:none;
}
#GlobalFooter ul li a:hover,
#GlobalFooter ul li a:active{
	color:#594b2a;
	text-decoration:underline;
}
#GlobalFooter .inner .footer-items-bottom {
	overflow: hidden;
	margin: 40px 0 50px 8px;
}
.footer-naviList {
	display: inline-block;
	font-size: 14px;
	margin-right: 30px;
	vertical-align: top;
}
#GlobalFooter .inner .footer-items-bottom .footer-naviList>.footer-naviList-item {
	margin: 10px 0 0;
}
#GlobalFooter .inner .footer-items-bottom .footer-naviList-item:first-child {
	margin: 0;
}
#GlobalFooter .inner .footer-items-bottom li.footer-naviList-item::before {
	background-color: #f8760b;
	content: "";
	display: inline-block;
	position: relative;
	width: 6px;
}
#GlobalFooter .inner .footer-items-bottom li.footer-naviList-item::before {
	border-radius: 100%;
	margin-right: 6px;
	top: -2px;
	height: 6px;
}
#GlobalFooter .inner .footer-items-bottom .footer-naviList-smallClass li.footer-naviList-item::before {
	border-radius: 0;
	margin: 0 8px 0 15px;
	top: -4px;
	height: 2px;
}
#GlobalFooter .inner .footer-items-bottom .fb-hidden-box {
	float: right;
}
#GlobalFooter .copy {
	background: #594b2a;
	color: #fff;
	display: block;
	font-size:13px;
	padding: 10px 0;
	text-align: center;
}
#GlobalFooter .copy span {
	color: #fff;
	font-family: "Verdana", "Droid Sans";
	font-size: 13px;
	top: -1px;
	position: relative;
}
#GlobalFooter .btn-hidden {
	bottom: 10%;
	transition: all .3s ease-in-out;
	position: fixed;
	z-index: 9999;
}
#GlobalFooter .btn-hidden:hover {
	transition: all .3s ease-in-out;
	right: 0!important;
}
#GlobalFooter .btn-hidden a{
	display: block;
}

#GlobalFooter .fb-like-box {
		margin-left: 14px;
	}
/* media query 
=================================================================*/
@media(max-width: 768px){
	#GlobalFooter {
		min-width: initial;
		min-width: auto;
	}
	#GlobalFooter::before{
		height: 40px;
		background-size: cover;
		top: -40px;
	}
	#GlobalFooter .inner .u-sp {
		display: block;
		border: 0;
		margin: 30px auto 35px;
		padding: 0;
		text-align: center;
	}
	#GlobalFooter .inner .u-sp .footer-item-top {
		display: block;
	}
	#GlobalFooter .inner .u-sp .item-logo {
		clear: both;
		margin: 0 auto 10px;
		max-width: 224px;
		width: 35vw;
	}
	#GlobalFooter .inner .u-sp .item-txt {
		font-size: 14px;
	}
	#GlobalFooter .inner .u-sp .item-contact {
		box-sizing: border-box;
		clear: both;
		margin: 20px auto 25px;
		width: 65.93%;
		max-width: 422px;
	}
	#GlobalFooter .inner .footer-item-top .btn-contact {
		box-shadow: 0 4px 0px 0px #f8a055;
		max-width: 458px;
		min-width: 280px;
		margin: 0 auto 35px;
		width: 71.56%;
	}
	#GlobalFooter .inner .u-sp .btn-contact span {
		box-sizing: border-box;
		display: inline-block;
		font-size: 14px;
		padding: 18px 20px 18px 0;
	}
	#GlobalFooter .copy {
		font-size: 1.083em;
	}
	#GlobalFooter .inner .footer-item-top .btn-contact span::before {
		border-top: 2px solid #332a1f;
		height: 8px;
		width: 10px;
		right: 20px;
	}
	#GlobalFooter .inner .footer-item-top .btn-contact span::after {
		border-bottom: 2px solid #332a1f;
		height: 8px;
		width: 10px;
		right: 20px;
	}
	#GlobalFooter .inner .u-sp .fb-like-box {
		text-align:center;
		margin: 0 auto;
	}
}
/*--------------------------------------------------------------------------
   Other
---------------------------------------------------------------------------*/
.u-pc {
  display: block;
}
.u-sp {
  display: none;
}
/* media query -> sp
=================================================================*/
@media(max-width: 768px){
	.u-pc {
  display: none;
	}
	.u-sp {
	  display: block;
	}
}

/*
/* clearfix
-----------------------------------------------------------------*/
.cf:before,
.cf:after{
	content:"";
	display:table;
}
.cf:after{
	clear:both;
}
.cf{
	zoom:1;
}

