@charset "utf-8";

/**
 *
 *  周辺環境 | こぐまえん
 *
 */

/*--------------------------------------------------------------------------
   overwrite  - 共通CSSの上書き -
---------------------------------------------------------------------------*/
#Main p,
#Main li {
  font-size: 0.9375rem;
}
#Content .pagettl.u-pc {
  background-image: url('../../images/place/common/bg_pagettl.jpg');
}
#Content .pagettl.u-sp {
  background: none;
}
#Content .secttl{
  background-color: #98c01a;
}
#Content a {
  color: #FFF;
}
#Content a:hover {
  text-decoration: underline;
}
/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
  #Main p {
    font-size: 1em;
    line-height: 2.2;
  }
  #Content #Main .secbox .itembox .item .item-subttl {
    font-size: 20px;
    line-height: 1.5;
    margin: 0 0 15px;
  }
  #Content #Main .secbox {
    font-size: 1em;
    padding: 40px 20px 0;
  }
  .item.u-pc {
    display: none;
  }
  .item.u-sp {
    display: block;
  }
}
/*--------------------------------------------------------------------------
  .secttl
---------------------------------------------------------------------------*/
#Content .secttl .secttl-list {
  margin: 30px auto 0;
}
#Content .secttl .secttl-list .secttl-link {
  display: inline-block;
  padding: 0 40px;
}
#Content .secttl .secttl-list .secttl-link a {
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.5;
  padding-bottom: 6px;
}
#Content .secttl .secttl-list .secttl-link a:hover {
  border: none;
}
/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
  #Content .secttl .secttl-list {
    margin: 5px auto 0;
    max-width: 300px;
  }
  #Content .secttl .secttl-list .secttl-link {
    padding: 6px 20px;
  }
  #Content .secttl .secttl-list .secttl-link a {
    font-size: 1.08em;
    padding-bottom: 3px;
  }
}
/*--------------------------------------------------------------------------
  .secbox
---------------------------------------------------------------------------*/
#Content .secbox {
  background-color: #fcfdf8;
  background-image: url(../../images/place/index/bg_section.png);
  overflow: hidden;
  padding: 230px 0 135px;
}
#Content .secbox .item {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 980px;
}
#Content .secbox .box-imgleft {
  text-align: right;
}
#Content .secbox .item .item-img {
  top: -160px;
  position: absolute;
}
#Content .secbox .hospital .item-img {
  top: 150px;
}
#Content .secbox .park .item-img {
  top: 150px;
}
#Content .secbox .kindergarten .item-img {
  top: 150px;
}
#Content .secbox .library .item-img {
  top: 150px;
}
#Content .secbox .box-imgleft .item-img {
  left: -40px;
}
#Content .secbox .box-imgright .item-img {
  right: -70px;
}

#Content .secbox .item .item-txts {
  background-color: #f8a055;
  border-radius: 15px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  text-align: left;
  padding: 10px;
  position: relative;
  width: 490px;
  z-index: 1;
}
#Content .secbox .item .item-txts .item-txts-inner {
  border: 2px dashed #ffd98b;
  border-radius: 15px;
  padding: 10px 25px 25px 25px;
}
#Content .secbox .item .item-txts .item-subttl {
  font-size: 1.875rem;
}
#Content .secbox .item .item-txts .duration,
#Content .secbox .item .item-txts .item-txt,
#Content .secbox .item .item-txts .item-list li{
  font-size: 0.9375rem;
}
#Content .secbox .item .item-txts .item-list li{
  font-size: 1.125em;
}
#Content .secbox .item .item-txts .item-list .item-url{
  font-size: 0.9375rem;
  margin: 0 0 10px 0;
}
#Content .secbox .item .item-txts .item-subttl .duration {
  vertical-align: middle;
}
#Content .secbox .item .item-txts .item-txt {
  max-width: 420px;
}

/* media query -> sp
=================================================================*/
@media screen and (min-width: 769px){
  #Content .secbox .station {
    margin: 0 auto 235px;
  }
  #Content .secbox .hospital {
    margin: -300px auto 285px;
    padding-top: 300px;
  }
  #Content .secbox .park {
    margin: -260px auto 265px;
    padding-top: 300px;
  }
  #Content .secbox .kindergarten {
    margin: -300px auto 40px;
    padding-top: 300px;
  }
  #Content .secbox .library {
    margin: -300px auto 0;
    padding-top: 300px;
  }
}
@media screen and (max-width: 768px){
  #Content .secbox {
    padding: 60px 0;
  }
  #Content .secbox .item {
    display: block;
    text-align: center;
    margin: -85px auto 0;
    padding-top: 85px;
    width: 100%;
  }
  #Content .secbox .item .item-img {
    position: static;
  }
  #Content .secbox .item .item-img .u-sp {
    margin : 0 auto;
  }
  #Content .secbox .item .item-txts {
    text-align: left;
    margin: 25px auto 40px;
    padding: 7px;
    width: 100%;
  }
  #Content .secbox .item .item-txts .item-txts-inner {
    padding: 15px;
  }

  #Content .secbox .kindergarten .item-txts .item-txts-inner {
    padding-right: 0;
  }

  #Content .secbox .item .item-txts .item-subttl {
    font-size: 1.692em;
    line-height: 2;
  }
  #Content .secbox .item .item-txts .item-subttl .duration {
    font-size: 13px;
    vertical-align: middle;
  }
  #Content .secbox .item .item-txts .duration,
  #Content .secbox .item .item-txts .item-txt,
  #Content .secbox .item .item-txts .item-list li{
    font-size: 1em;
  }
  #Content .secbox .item .item-txts .item-txt {
    max-width: 100%;
    width: 100%;
  }
  #Content .secbox .item .item-txts .item-list li span{
    font-size: 0.8rem;
  }
}


