@charset "utf-8";

/**
 *
 *  プライバシーポリシー | こぐまえん
 *
 */

/*--------------------------------------------------------------------------
   overwrite  - 共通CSSの上書き -
---------------------------------------------------------------------------*/

#Content .pagettl.u-pc {
  background-image: url('../../images/contact/common/bg_pagettl.jpg');
}
#Content .pagettl.u-sp {
  background: none;
}




/*--------------------------------------------------------------------------
  .secbox
---------------------------------------------------------------------------*/
#Main .secttl {
  background: #a08a6d;
}
#Main .secbox {
  background: #fff;
  margin: 0 auto;
  padding: 60px 0 100px;
  max-width: 980px;
}
#Main .secbox .item {
  margin-bottom: 40px;
}
#Main .secbox .item .item-ttl {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 5px;
}
#Main .secbox .item .item-txt {
  line-height: 2.8;
}
  p.contact-ttl{
    font-size: 18px;
    color: #332a1f;
  }
  .contact-area {
    overflow: hidden;
    font-size: 14px;
  }
  .contact-area dl{
    overflow: hidden;
    margin-top: 30px;
    border-bottom: dotted 1px #c9c9c9;
    padding-bottom: 10px;
  }
  .contact-area dl:nth-child(5) {
    border-bottom: none;
  }
  .contact-area dt{
    float: left;
    width: 20%;
  }
  .btn-area{
    margin: 50px auto;
    text-align: center;
  }
  input.input-btn {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 0px #c78b2c;
    -moz-box-shadow: 0px 5px 0px #c78b2c;
    box-shadow: 0px 5px 0px #c78b2c;
    color: #ffffff;
    font-size: 16px;
    background: #f39700;
    padding: 15px 60px;
    text-decoration: none;
    border: none;
  }
  input.input-btn:hover {
    background: #ffc363;
    text-decoration: none;
  }
  .contact-point{
    margin-left: 5px;
    background-color: #4b3d2d;
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 3px;
    color: #ffffff;
    padding: 5px 10px;
    font-size: 10px;
  }
  input {
      padding: 10px;
      width: 50%;
      margin-bottom: 15px;
  }
  textarea {
      width: 70%;
      padding: 10px;
      border-color: #ccc !important;
  }
/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
  #Main p {
    font-size: 1em;
    line-height: 2.2;
  }

  #Content #Main .secbox .itembox .item .item-subttl {
    font-size: 20px;
    line-height: 1.5;
    margin: 0 0 15px;
  }
  .item.u-pc {
    display: none;
  }
  .item.u-sp {
    display: block;
  }
  .contact-area dt{
    float: none !important;
    width: 100% !important;
    margin-bottom: 10px;
  }
  .btn-area {
      margin: 50px auto 80px;
      text-align: center;
  }
  input[type="text"],input[type="tel"],input[type="email"]{
    width: 90%;
  }
  textarea{
    width: 90%;
  }
  input[type="submit"]{
    width: 80%;
  }
}
