@charset "utf-8";

/**
 *
 *  こぐまえんの特徴 | こぐまえん
 *
 */

/*--------------------------------------------------------------------------
   overwrite  - 共通CSSの上書き -
---------------------------------------------------------------------------*/
#Main p {
  font-size: 0.9375rem;
}
.item.u-pc {
  display: inline-block;
}
.item.u-sp {
  display: none;
}
#Content .pagettl.u-pc {
  background-image: url('../../images/feature/common/bg_pagettl.jpg');
}
#Content .pagettl.u-sp {
  background: none;
}
#Content .secttl h2 img {
    margin: 0 auto;
}
/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
  #Main p {
    font-size: 1em;
    line-height: 2.2;
  }
  #Content #Main .secbox .itembox .item .item-subttl {
    font-size: 20px;
    line-height: 1.5;
    margin: 0 0 15px;
  }
  .item.u-pc {
    display: none;
  }
  .item.u-sp {
    display: block;
  }
}
/*--------------------------------------------------------------------------
  .header-pagenav
---------------------------------------------------------------------------*/
#Main .header-pagenav {
  background: #ffdb5c;
  text-align: center;
}
#Main .header-pagenav ul{
  display: block;
  font-size: 0;
  overflow: hidden;
  min-width: 980px;
}
#Main .header-pagenav ul li {
  display: inline-block;
  text-align: center;
  padding-right: 33px;
}
#Main .header-pagenav ul li:last-child {
  padding: 0;
}
#Main .header-pagenav ul li a.btn-shadow {
  background: #fff;
  box-shadow: 0 2px 0 0 #ffbc21;
  border-radius: 50px;
  box-sizing: border-box;
  color: #594b2a;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0;
  line-height:52px;
  text-align: center;
  margin: 23px auto 20px;
  height: 52px;
  width: 220px;
}
#Main .header-pagenav ul li a.btn-shadow:hover {
  background: #FFF8E0;
  box-shadow: 0 2px 0 0 #FFA312;
}
#Main .header-pagenav ul li a.btn-shadow:active {
  top: 2px;
}
#Main .header-img {
  text-align: center;
}
/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
  #Main .header-pagenav ul{
    min-width: initial;
    min-width: auto;
    padding: 10px 0;
    width: 100%;
  }
  #Main .header-pagenav ul li {
    padding: 0;
    width: 50%;
  }
  #Main .header-pagenav ul li a.btn-shadow {
    font-size: 13px;
    height: 55px;
    line-height: 55px;
    margin: 8px auto;
    width: 90.62%;
  }
}

/*--------------------------------------------------------------------------
  .secttl
---------------------------------------------------------------------------*/
#Main .ttl-about {
  background: #f8a055;
}
#Main .ttl-building {
  background: #58a0db;
}
#Main .ttl-environment {
  background: #ec6b58;
}
#Main .ttl-security {
  background: #98c01a;
}

/*--------------------------------------------------------------------------
   .about
---------------------------------------------------------------------------*/
#Main .about {
  background-color: #fffcfa;
  background-image: url('../images/index/bg_about.png');
  padding: 70px 0 40px;
}
#Main .about .about-txt {
  line-height: 2.8;
  max-width: 980px;
  margin: auto;
}
#Main .about .aboutbox {
  font-size: 0;
  text-align: center;
  margin: 90px auto 0;
  max-width: 980px;
  width: 100%;
}
#Main .about .aboutbox .item {
  background-color: #fff;
  border-radius: 15px;
  font-size: 0.875rem;
  margin: 0 auto;
  min-height: 415px;
  text-align: center;
  vertical-align: top;
  width: 300px;
}
#Main .about .aboutbox .item:first-child {
  margin: 0;
  float: left;
}
#Main .about .aboutbox .item:last-child {
  margin: 0;
  float: right;
}
#Main .about .aboutbox .item .item-ttl {
  color: #f86700;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 5px auto 20px;
}
#Main .about .aboutbox .item .img-about {
  top: -15px;
  margin: 0 auto;
  position: relative;
}
#Main .about .aboutbox .item .item-txt {
  margin: 0 auto 40px;
  text-align: left;
  width: 240px;

}
/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
  #Main .about .about-txt {
    max-width: initial;
    max-width: auto;
  }
  #Main .about .aboutbox {
    text-align: center;
    margin: 40px auto 0;
    max-width: initial;
    max-width: auto;
    width: 100%;
  }
  #Main .about .aboutbox .item {
    font-size: 13px;
    margin: 0 auto 40px;
    min-height: initial;
    min-height: auto;
    width: 100%;
  }
  #Main .about .aboutbox .item:first-child {
    margin: 0 0 40px;
  }
  #Main .about .aboutbox .item:last-child {
    margin: 0 0 20px;
  }
  #Main .about .aboutbox .item .item-ttl {
    font-size: 1.54em;
    line-height: 1.9;
    margin: -15px auto 10px;
  }
  #Main .about .aboutbox .item .img-about {
    top: -30px;
    width: 35%;
    max-width: 180px;
  }
  #Main .about .aboutbox .item:nth-child(2) .img-about {
    max-width: 173px;
  }
  #Main .about .aboutbox .item .item-txt {
    margin: 0 auto 30px;
    width: 80%;
  }
}

/*--------------------------------------------------------------------------
   .building
---------------------------------------------------------------------------*/
#Main .building {
  background-color: #fafcfe;
  background-image: url('../images/index/bg_building.png');
  font-size: 0;
  overflow: hidden;
  padding: 60px 0 75px;
}
#Main .building .buildingbox {
  max-width: 980px;
  width: 100%;
}
#Main .building .buildingbox .item .item-txt {
  line-height: 2.5;
}
#Main .building .buildingbox .item .item-subttl {
  color: #0067d5;
  font-size: 1.875rem;
  line-height: 1.5;
  margin: 40px 0 20px;
}
#Main .building .buildingbox .img-design {
  text-align: right;
  width: 44.89%;
}
#Main .building .buildingbox .txt-design {
  width: 55.01%;
}
#Main .building .buildingbox + .buildingbox {
  margin: 50px auto 330px;
  position: relative;
}
#Main .building .buildingbox .txt-plan .item-subttl {
  margin-top: 15px;
}
#Main .building .buildingbox .img-plan {
  top: 0;
  right: -16%;
  position: absolute;
}
/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
  #Main .building .buildingbox {
    margin: 0 auto 30px!important;
    max-width: initial;
    max-width: auto;
  }
  #Main .building .buildingbox .item .item-txt {
    line-height: 2.5;
  }
  #Main .building .buildingbox .img-design {
    margin: 20px auto 0;
    text-align: center;
    width: 75%;
  }
  #Main .building .buildingbox .txt-design,
  #Main .building .buildingbox .txt-plan {
    width: 100%;
  }
  #Main .building .buildingbox .img-plan {
    margin: 20px auto 0;
    position: static;
    text-align: center;
    width: 100%;
  }
}
/*--------------------------------------------------------------------------
   .environment
---------------------------------------------------------------------------*/
#Main .environment {
  background-color: #fffafa;
  background-image: url('../images/index/bg_environment.png');
  padding: 75px 0 85px;
}
#Main .environment .environmentbox {
  font-size: 0;
  text-align: center;
  margin-bottom: 10px;
}
#Main .environment .environmentbox .item .item-subttl {
  color: #fa0000;
  font-size: 1.875rem;
  margin: 45px auto 20px;
  line-height: 1.5;
  text-align: left;
}
#Main .environment .environmentbox .item .item-txt {
  line-height: 2.5;
}
#Main .environment .environmentbox .img-temperature {
  text-align: right;
  width: 46.93%;
}
#Main .environment .environmentbox .txt-temperature {
  box-sizing: border-box;
  padding-left: 50px;
  width: 53.07%;
}
#Main .environment .environmentbox .txt-temperature .item-txt {
  text-align: left;
  width: 470px;
}
#Main .environment .environmentbox .img-play {
  text-align: left;
  width: 47.34%;
}
#Main .environment .environmentbox .txt-play {
  box-sizing: border-box;
  text-align: right;
  padding-right: 45px;
  width: 52.65%;
}
#Main .environment .environmentbox .txt-play .item-subttl{
  display: block;
  margin: 65px 0 15px auto;
  width: 475px;
}
#Main .environment .environmentbox .txt-play .item-txt {
  display: inline-block;
  text-align: left;
  margin-right: 0;
  width: 475px;
}
#Main .environment .environmentbox .img-room {
  text-align: right;
  width: 46.53%;
}
#Main .environment .environmentbox .txt-room {
  box-sizing: border-box;
  padding-left: 50px;
  width: 53.47%;
}
#Main .environment .environmentbox .txt-room .item-subttl {
  margin: 5px auto 20px;
}
#Main .environment .environmentbox .txt-room .item-txt {
  text-align: left;
  width: 470px;
}
#Main .environment .environmentbox:last-child {
  margin-top: 70px;
}
/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
  #Main .environment .environmentbox {
    margin: 0 auto 0!important;
    padding-bottom: 30px;
  }
  #Main .environment .environmentbox .img-temperature,
  #Main .environment .environmentbox .img-play,
  #Main .environment .environmentbox .img-room {
    margin: 0 auto 30px;
    text-align: center;
    width: 85%;
  }
  #Main .environment .environmentbox .item .item-txt {
    line-height: 2.5;
  }
  #Main .environment .environmentbox .txt-temperature,
  #Main .environment .environmentbox .txt-play,
  #Main .environment .environmentbox .txt-room {
    font-size: 13px;
    text-align: left;
    padding: 0;
    width: 100%;
  }
  #Main .environment .environmentbox .item .item-txt {
    text-align: left;
    width: auto;
  }
  #Main .environment .environmentbox .txt-play .item-subttl{
    display: block;
    margin-right: 0;
    width: 100%;
  }
  #Main .environment .environmentbox:last-child {
    margin-top: 70px;
  }
}
/*--------------------------------------------------------------------------
   .security
---------------------------------------------------------------------------*/
#Main .security {
  background-color: #fcfdf8;
  background-image: url('../images/index/bg_security.png');
  text-align: center;
  overflow: hidden;
  font-size: 0;
  padding: 80px 0 105px;
}
#Main .security .security-txt {
  font-size: 1rem;
  line-height: 2.8;
  margin: auto;
  position: relative;
  width: 980px;
}
#Main .security .security-img {
  position: absolute;
  right: -15%;
  top: -15px;
}
#Main .security .securitybox {
  margin-top: 80px;
  max-width: 980px;
}
#Main .security .securitybox:last-child {
  margin-top: 60px;
}
#Main .security .securitybox .item .item-subttl {
  color: #52ab00;
  font-size: 1.875rem;
  margin: 50px 0 0;
  text-align: left;
}
#Main .security .securitybox .item .item-txt {
  line-height: 2.6;
  max-width: 650px;
  text-align: left;
}
#Main .security .img-disaster,
#Main .security .img-crime {
  box-sizing: border-box;
  padding-right: 30px;
  text-align: right;
}
/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
  #Main .security .security-txt {
    font-size: 1em;
    margin: auto;
    text-align: left;
    width: 100%
  }
  #Main .security .securitybox {
    margin: 30px auto!important;
  }
  #Main .security .securitybox .item .item-subttl {
    margin: 50px 0 0;
  }
  #Main .security .securitybox .item .item-txt {
    line-height: 2.6;
    text-align: left;
    width: 90%;
  }
  #Main .security .img-disaster,
  #Main .security .img-crime {
    margin: 0 auto 20px;
    padding: 0;
    text-align: center;
    width: 64%;
  }
  #Main .security .txt-disaster,
  #Main .security .txt-crime {
    width: 100%;
  }
}
/*--------------------------------------------------------------------------

---------------------------------------------------------------------------*/

/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){

}
