@charset "utf-8";

/**
 *
 *  入園案内 | こぐまえん
 *
 */

/*--------------------------------------------------------------------------
   overwrite  - 共通CSSの上書き -
---------------------------------------------------------------------------*/
.pagettl {
  background: url(../../images/flow/common/bg_pagettl.jpg);
}
#Main .secttl {
  background: #f8a055;
}

/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
}

/*--------------------------------------------------------------------------
   .header-txt
---------------------------------------------------------------------------*/
#Main .header-txt {
  padding: 78px 0;
  background: url(../images/index/bg_catch.jpg) center top no-repeat;
  text-align: center;
  color: #594B2A;
  font-size: 1.125em;
  font-weight: bold;
  line-height: 2.8;
}
#Main .header-txt a {
  color: #589FD8;
  text-decoration: underline;
}
#Main .header-txt a:hover {
  text-decoration: none;
}


/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
  #Main .header-txt {
    padding: 25px 20px;
  background: none;
  }
  #Main .header-txt .u-sp img {
    width: 201px;
  }
}


/*--------------------------------------------------------------------------
   .requirements
---------------------------------------------------------------------------*/
#Main .requirements {
  background: url(../images/index/bg_requirements.png) center top repeat-y #FFFCFA;
  padding: 70px 0 85px;
}
#Main .requirements .item-table {
  width: 980px;
  border-collapse: collapse;
  border-top: 2px solid #ddd;
  margin: 0 auto;
}
#Main .requirements .item-table th,
#Main .requirements .item-table td {
  border-bottom: 2px solid #ddd;
  padding: 20px;
}
#Main .requirements .item-table th {
  width: 20%;
  background: #f6f6f6;
  text-align: left;
  font-weight: normal;
}
#Main .requirements .item-table td {
  width: 80%;
  background: #fff;
}

/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
  #Main .requirements {
    background: #FFFCFA;
      padding: 20px 20px 40px 20px;
  }
  #Main .requirements .item-table {
    width: 100%;
  }
  #Main .requirements .item-table th {
    width: 30%;
  }
  #Main .requirements .item-table td {
    width: 70%;
  }
}

/*--------------------------------------------------------------------------
   .flow
---------------------------------------------------------------------------*/
#Main .flow {
  background: url(../images/index/bg_flow.png) center top no-repeat #FFFCFA;
  padding: 70px 0 85px;
}
#Main .flow-box {
  width: 980px;
  background: url(../images/index/bg_line.png) 52px 0 no-repeat #FFF;
  margin: 0 auto 50px;
}
#Main .flow .item {
  display: block;
}
#Main .flow .item-gray {
  background: rgba(147,147,147,0.09);
}
#Main .flow .item-num {
  display: inline-block;
  padding: 30px 27px;
  vertical-align: top;
}
#Main .flow .item li:first-child .item-num:before {
  display: block;
  content: "";
  width: 50px;
  height: 30px;
  margin-top: -30px;
  background: #F5F5F5;
}
#Main .flow .item li:last-child .item-num:after {
  display: block;
  content: "";
  width: 50px;
  height: 150px;
  background: #FFF;
}
#Main .flow .item-txt {
  display: inline-block;
  padding: 30px 0 30px 0;
  vertical-align: top;
}
#Main .flow .item li:nth-child(2) .item-txt,
#Main .flow .item li:nth-child(3) .item-txt {
  padding: 30px 0 20px 0;
}
#Main .flow .item-ttl {
  margin: 0 0 10px;
  color: #F86600;
  font-size: 1.625em;
  font-weight: bold;
}
#Main .flow .item-subttl {
  margin: 0 0 10px;
  font-size: 1.125em;
  font-weight: bold;
}
#Main .flow .item-tel {
  font-size: 1.5625em;
}
#Main .flow .item-tel span {
  font-weight: bold;
}
#Main .flow .item-list {
  display: inline-block;
  padding: 0 60px 0 0;
  vertical-align: top;
}
#Main .flow .item-list li {
  background: url(../images/index/ico_list.png) left center no-repeat;
  margin: 0 0 15px 0;
  padding: 0 0 0 20px;
}
#Main .flow .item-list li:last-child {
  margin: 0;
}

/* document
-----------------------------------------------------------------*/
#Main .flow .document {
  background: #FEEEE1;
  border-radius: 15px;
  width: 980px;
  margin: 0 auto;
  padding: 30px 0;
}
#Main .flow .document-ttl {
  margin: 0 0 10px 40px;
  font-size: 1.375em;
}
#Main .flow .document-list {
  margin: 0 0 0 40px;
}
#Main .flow .document-list li {
  display: inline;
  background: url(../images/index/ico_list.png) left center no-repeat;
  margin: 0 40px 0 0;
  padding: 0 0 0 20px;
  font-size: 1.125em;
}


/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
  #Main .flow {
    padding: 20px 20px 40px;
  }
  #Main .flow-box {
    width: 100%;
    background: #FFF;
    margin: 0 0 20px;
  }
  #Main .flow .item-num {
    display: none;
  }
  #Main .flow .item-txt {
    padding: 15px;
  }
  #Main .flow .item li:nth-child(2) .item-txt,
  #Main .flow .item li:nth-child(3) .item-txt {
    padding: 15px;
  }
  #Main .flow .item-ttl {
    margin: 0;
  }
  #Main .flow .item-subttl {
    margin: 0;
  }
  #Main .flow .item-txt img {
    float: left;
    width: 35px;
    margin: 5px 10px 0 0;
  }
  #Main .flow .item-list {
    display: block;
    padding: 0;
  }
  #Main .flow .item-list li {
    background: url(../images/index/sp/ico_list.png) left 0.8em no-repeat;
    background-size: 6px 6px;
    margin: 0 0 0 0;
  }

  /* document
  -----------------------------------------------------------------*/
  #Main .flow .document {
    width: 100%;
    padding: 20px 0;
  }
  #Main .flow .document-ttl {
    margin: 0 0 0 20px;
  }
  #Main .flow .document-list {
    margin: 0 0 0 20px;
  }
  #Main .flow .document-list li {
    display: block;
    background: url(../images/index/sp/ico_list.png) left center no-repeat;
    background-size: 6px 6px;
    margin: 0 0 0 0;
    padding: 0 0 0 20px;
  }
}



