@charset "utf-8";

/**
 *
 *  こぐまえんでの生活 | こぐまえん
 *
 */

/*--------------------------------------------------------------------------
   overwrite  - 共通CSSの上書き -
---------------------------------------------------------------------------*/
.pagettl {
  background: url(../../images/life/common/bg_pagettl.jpg);
}
#Main .secttl {
  background: #ec6b58;
}

/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
}

/*--------------------------------------------------------------------------
   .header-txt
---------------------------------------------------------------------------*/
#Main .header-txt {
  padding: 50px 0;
  text-align: center;
  color: #594B2A;
  font-size: 1.125em;
  font-weight: bold;
  line-height: 2.8;
}

/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
  #Main .header-txt {
    padding: 25px 20px;
    text-align: center;
    color: #594B2A;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 2.8;
  }
}


/*--------------------------------------------------------------------------
   .timetable
---------------------------------------------------------------------------*/
#Main .timetable {
  background: url(../images/index/bg_timetable.png) center top repeat-y #fffafa;
  padding: 70px 0 85px;
}
#Main .timetable-box {
  overflow: hidden;
  width: 980px;
  margin: 0 auto 30px;
}
#Main .timetable-newborn {
  float: left;
  width: 460px;
  background: url(../images/index/bg_clock.png) 35px 7px repeat-y #FFF;
}
#Main .timetable-infant {
  float: right;
  width: 460px;
  background: url(../images/index/bg_clock.png) 35px 7px repeat-y #FFF;
}

/* title
-----------------------------------------------------------------*/
#Main .timetable-ttl {
  padding: 15px 0;
  text-align: center;
  color: #FFF;
  font-size: 1.25em;
}
#Main .timetable-newborn .timetable-ttl {
  background: #98C01A;
}
#Main .timetable-infant .timetable-ttl {
  background: #F8A055;
}

/* item
-----------------------------------------------------------------*/
#Main .timetable .item {
  display: block;
}
#Main .timetable .item li {
  min-height: 93px;
}
#Main .timetable .item-gray {
  background: rgba(147,147,147,0.09);
}
#Main .timetable .item-clock {
  display: inline-block;
  padding: 0 15px;
  vertical-align: top;
}
#Main .timetable .item-txt {
  display: inline-block;
  width: 79%;
  padding: 22px 0 22px 0;
  vertical-align: top;
}
#Main .timetable .item-txt p {
  font-size: 1.125em;
}
#Main .timetable .item-txt p span {
  font-size: 0.8125em;
}
#Main .timetable .item-txt p img {
  margin: 10px 0 0 0;
}

/* txt
-----------------------------------------------------------------*/
#Main .timetable-txt {
  width: 980px;
  margin: 0 auto;
  font-size: 1em;
}

/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
  #Main .timetable {
    background: #fffafa;
    padding: 20px 20px 30px;
  }
  #Main .timetable-box {
    width: 100%;
    margin: 0 0 15px;
  }
  #Main .timetable-newborn {
    float: none;
    width: 100%;
    background: #FFF;
    margin: 0 0 20px;
  }
  #Main .timetable-infant {
    float: none;
    background: #FFF;
    width: 100%;
  }

  /* item
  -----------------------------------------------------------------*/
  #Main .timetable .item {
    display: block;
  }
  #Main .timetable .item li {
    min-height: 0px;
  }
  #Main .timetable .item-clock {
    display: block;
    padding: 15px 15px 5px;
    vertical-align: top;
  }
  #Main .timetable .item-clock img {
    height: 18px;
  }
  #Main .timetable .item-txt {
    display: block;
    width: auto;
    padding: 0 15px 15px;
    vertical-align: top;
  }

  /* txt
  -----------------------------------------------------------------*/
  #Main .timetable-txt {
    width: 100%;
    margin: 0 auto;
  }
}


/*--------------------------------------------------------------------------
   .schedule
---------------------------------------------------------------------------*/
#Main .schedule {
  overflow: hidden;
  margin: 0 0 100px 0;
}
#Main .schedule-season {
  float: left;
  width: 25%;
}
#Main .schedule-season img {
  width: 100%;
}
#Main .schedule h3 {
  padding: 20px 20px 10px;
  font-size: 1.125em;
}
#Main .schedule ul li {
  margin: 0 0 10px 20px;
  padding: 0 0 0 20px;
  background: url(../images/index/ico_list.gif) left center no-repeat;
}


/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
  #Main .schedule {
    margin: 0 0 30px 0;
  }
  #Main .schedule-season {
    width: 100%;
  }
  #Main .schedule h3 {
    padding: 15px 15px 5px;
    font-size: 1.125em;
  }
  #Main .schedule ul {
    margin-bottom: 20px;
  }
  #Main .schedule ul li {
    margin: 0 0 10px 15px;
    padding: 0 0 0 15px;
    background: url(../images/index/sp/ico_list.gif) left center no-repeat;
    background-size: 6px 6px;
  }
}



