@charset "utf-8";

/**
 *
 *  こぐまえんの概要 | こぐまえん
 *
 */

/*--------------------------------------------------------------------------
   overwrite  - 共通CSSの上書き -
---------------------------------------------------------------------------*/
#Content .pagettl.u-pc {
  background-image: url('../../images/about/common/bg_pagettl.jpg');
}
#Content .pagettl.u-sp {
  background: none;
}
#Content #Main .secbox {
  padding: 20px 20px 0;
}
/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
#Content #Main .secbox {
    padding: 25px 20px 0!important;
  }
}
/*--------------------------------------------------------------------------
   .secttl
---------------------------------------------------------------------------*/
#Content #Main .secttl {
  background: #a08a6d;
}
/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){

}
/*--------------------------------------------------------------------------
   .idea
---------------------------------------------------------------------------*/
#Content #Main .idea {
  background: #fff;
  margin: 0 auto ;
  /*overflow: hidden;*/
  padding: 60px 0 0;
}
#Main .idea .ideabox {
  font-size: 0;
  text-align: center;
  margin: 0 auto;
}
#Main .idea .ideabox .item-txt {
  box-sizing: border-box;
  font-size: 0.9375rem;
  line-height: 2.8;
  max-width: 680px;
  margin: 0 auto;
  text-align: left;
  padding: 0 0 60px;
  position: relative;
}
#Main .idea .ideabox .img-left {
  bottom: 0;
  left: -325px;
  position: absolute;
}
#Main .idea .ideabox .img-right {
  bottom: 0;
  right: -310px;
  position: absolute;
}
/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
  #Main .idea {
    background: #fff;
    margin: 0 ;
  }
  #Main .idea .ideabox {
    font-size: 1em;
    margin: 0 auto;
    width: 100%;
  }
  #Main .idea .ideabox .item-txt,
  #Main .idea .ideabox .item-img {
    display: block;
  }
  #Main .idea .ideabox .item-txt {
    box-sizing: border-box;
    font-size: 1em;
    line-height:2.2;
    max-width: initial;
    max-width: auto;
    text-align: left;
    padding: 0;
  }
  #Main .idea .ideabox .item-img {
    text-align: center;
    margin-top: 30px;
    width: 100%;
  }
}

/*--------------------------------------------------------------------------
   .about
---------------------------------------------------------------------------*/
#Content #Main .about {
  background-color: #fffdf7;
  background-image: url('../images/index/bg_section.png');
  padding: 0 20px 85px;
}
#Main .about .aboutbox {
  font-size: 0;
  margin: 0 auto;
  padding: 70px 0;
  width: 980px;
}
#Main .about .aboutbox .item-img {
  display: inline-block;
  width: 470px;
}
#Main .about .aboutbox .item-img:first-child {
  padding-right: 40px;
}
#Main .about .item-table {
  border-collapse: collapse;
  border-top: 2px solid #ddd;
  margin: 0 auto;
}
#Main .about .item-table th,
#Main .about .item-table td {
  border-bottom: 2px solid #ddd;
  padding: 20px;
}
#Main .about .item-table th {
  background: #f6f6f6;
  font-weight: normal;
  text-align: left;
}
#Main .about .item-table td {
  background: #fff;
}
#Main .about .item-table.u-pc {
  display: table;
}
/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
  #Content #Main .about {
    padding-bottom: 20px!important;
  }
  #Main .about .aboutbox {
    font-size: 1em;
    margin: 0;
    padding: 0 0 20px;
    width: 100%;
  }
  #Main .about .aboutbox .item-img {
    display: block;
    text-align: center;
    width: 100%;
  }
  #Main .about .aboutbox .item-img:first-child {
    padding: 0 0 20px;
  }
  #Main .about .item-table.u-pc {
    display: none;
  }
  #Main .about .item-table.u-sp {
    display: table;
    max-width: 490px;
    width: 100%;
  }
}
/*--------------------------------------------------------------------------
   .about
---------------------------------------------------------------------------*/
#Main .item-map {
  background-color: #fffdf7;
  height: 420px;
}
#map {
  height: 420px;
  width: 100%;
}
/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
  #Main .item-map {
    height: 240px;
  }
  #Main .footer-nav{
  margin-top: 180px;
}
}
