@charset "utf-8";

/**
 *
 *  プライバシーポリシー | こぐまえん
 *
 */

/*--------------------------------------------------------------------------
   overwrite  - 共通CSSの上書き -
---------------------------------------------------------------------------*/
#Main p {
  font-size: 0.9375rem;
}
#Content .pagettl.u-pc {
  background-image: url('../../images/thanks/common/bg_pagettl.jpg');
}
#Content .pagettl.u-sp {
  background: none;
}
.thanks-ttl{
  font-size: 35px;

}

/* media query -> sp
=================================================================*/
@media screen and (max-width: 768px){
  #Main p {
    font-size: 1em;
    line-height: 2.2;
  }
  #Content #Main .secbox .itembox .item .item-subttl {
    font-size: 20px;
    line-height: 1.5;
    margin: 0 0 15px;
  }
  .item.u-pc {
    display: none;
  }
  .item.u-sp {
    display: block;
  }
  .thanks-ttl{
    font-size: 23px;
  }
}

/*--------------------------------------------------------------------------
  .secbox
---------------------------------------------------------------------------*/
#Main .secttl {
  background: #a08a6d;
}
#Main .secbox {
  background: #fff;
  margin: 0 auto;
  padding: 60px 0 100px;
  max-width: 980px;
}
#Main .secbox .item {
  margin-bottom: 40px;
}
#Main .secbox .item .item-ttl {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 5px;
}
#Main .secbox .item .item-txt {
  line-height: 2.8;
}